{
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "L": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-underscore-dangle": [0],
    "no-loop-func": [0],
    "handle-callback-err": [0],
    "consistent-return": [0],
    "space-unary-ops": [0],
    "no-shadow": [0],
    "camelcase": [0],
    "curly": [0]
  }
}
