---
layout: default
---

<h2>mapbox.js</h2>

<p>mapbox.js is the MapBox Javascript library - a distribution
of open-source projects that's hosted and documented in one convenient place.</p>

<pre>
&lt;script src='http://mapbox-js.s3.amazonaws.com/mapbox.js/v0.5.0/mapbox.js'&gt;&lt;/script&gt;
&lt;link href='http://mapbox-js.s3.amazonaws.com/mapbox.js/v0.5.0/mapbox.js' type='text/css'
    rel='stylesheet' /&gt;
</pre>

<div class="posts">
  {% for post in site.categories.Javascript %}
  {% include listed-post.html %}
  {% endfor %}
</div>

<div class="posts">
  {% for post in site.categories.Style %}
  {% include listed-post.html %}
  {% endfor %}
</div>
