---
title: MapBox.js
layout: default
category: introduction
section: developers
examples:
  - title: 'Basic'
    id: 'map-basic'
    description: 'With just a few lines of code, embed your own map with customizable controls like search and share.'
    code: |
      <script>
        var map = L.mapbox.map('map-basic', 'examples.map-9ijuk24y')
          .setView([37.8, -96], 4);

          map.addControl(L.mapbox.geocoderControl('examples.map-9ijuk24y'))
          map.addControl(L.mapbox.shareControl())
      </script>
  - title: 'Markers'
    id: 'map-markers'
    description: 'Use <a href="http://www.geojson.org/">GeoJSON</a>, a simple specification for adding data to create points of interest on a map and much more.'
    code: |
      <script>
        var geojson = [
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [-77.03238901390978,38.913188059745586]
            },
            "properties": {
              "title": "MapBox DC",
              "description": "1714 14th St NW, Washington DC",
              "marker-color": "#fc4353",
              "marker-size": "large",
              "marker-symbol": "monument"
            }
          },
          {
            "type": "Feature",
            "geometry": {
              "type": "Point",
              "coordinates": [-122.414, 37.776]
            },
            "properties": {
              "title": "MapBox SF",
              "description": "155 9th St, San Francisco",
              "marker-color": "#fc4353",
              "marker-size": "large",
              "marker-symbol": "harbor"
            }
          }
        ];

        L.mapbox.map('map-markers', 'examples.map-9ijuk24y')
          .setView([37.8, -96], 4)
          .markerLayer.setGeoJSON(geojson);
      </script>
  - title: 'Storytelling'
    id: 'map-storytelling'
    description: 'Tell stories like a walk through of locations told in Doyle&#39;s Sherlock Holmes short narrative, &#34;The Adventure of the Bruce-Partington Plans&#34;.'
    code: |
      <script>
        var mapstories = L.mapbox.map('map-storytelling', 'examples.map-9ijuk24y');
        var markers = L.mapbox.markerLayer()
          .loadURL('/mapbox.js/examples/storytelling.geojson')
          .addTo(mapstories);

        mapstories.markerLayer.on('ready', function(e) {
            var chapters = [];
            markers.eachLayer(function(chapter) {
              chapters.push(chapter);
            });

            cycle(chapters);
        });

        function cycle(chapters) {
          var i = 0;
          function run() {
            if (++i > chapters.length - 1) i = 0;
            var c = chapters[i].feature.geometry.coordinates;
            mapstories.setView([c[1], c[0]], 13);
            chapters[i].openPopup();
            window.setTimeout(run, 3000);
          }
          run();
        }
      </script>
  - title: 'Data Visualizations'
    id: 'map-dataviz'
    description: 'Create choropleths from data using Leaflet&#39;s <a href="http://leafletjs.com/reference.html#geojson">L.geoJson</a>.'
    code: |
      <style>
      .map-legend .swatch {
        width:20px;
        height:20px;
        float:left;
        margin-right:10px;
        }
      .leaflet-popup-close-button {
        display: none;
        }
      .leaflet-popup-content-wrapper {
        pointer-events: none;
        }
      </style>
      <script src='./examples/us-states.js'></script>
      <script>
          var mapdataviz = L.mapbox.map('map-dataviz', 'examples.map-9ijuk24y')
            .setView([37.8, -96], 4);

          var popup = new L.Popup({ autoPan: false });

          // statesData comes from the 'us-states.js' script included above
          var statesLayer = L.geoJson(statesData,  {
              style: getStyle,
              onEachFeature: onEachFeature
          }).addTo(mapdataviz);

          function getStyle(feature) {
              return {
                  weight: 2,
                  opacity: 0.1,
                  color: 'black',
                  fillOpacity: 0.7,
                  fillColor: getColor(feature.properties.density)
              };
          }

          // get color depending on population density value
          function getColor(d) {
              return d > 1000 ? '#8c2d04' :
                  d > 500  ? '#cc4c02' :
                  d > 200  ? '#ec7014' :
                  d > 100  ? '#fe9929' :
                  d > 50   ? '#fec44f' :
                  d > 20   ? '#fee391' :
                  d > 10   ? '#fff7bc' :
                  '#ffffe5';
          }

          function onEachFeature(feature, layer) {
              layer.on({
                  mousemove: mousemove,
                  mouseout: mouseout,
                  click: zoomToFeature
              });
          }

          var closeTooltip;

          function mousemove(e) {
              var layer = e.target;

              popup.setLatLng(e.latlng);
              popup.setContent('<div class="marker-title">' + layer.feature.properties.name + '</div>' +
                  layer.feature.properties.density + ' people per square mile');

              if (!popup._map) popup.openOn(mapdataviz);
              window.clearTimeout(closeTooltip);

              // highlight feature
              layer.setStyle({
                  weight: 3,
                  opacity: 0.3,
                  fillOpacity: 0.9
              });

              if (!L.Browser.ie && !L.Browser.opera) {
                  layer.bringToFront();
              }
          }

          function mouseout(e) {
              statesLayer.resetStyle(e.target);
              closeTooltip = window.setTimeout(function() {
                  mapdataviz.closePopup();
              }, 100);
          }

          function zoomToFeature(e) {
              mapdataviz.fitBounds(e.target.getBounds());
          }

          mapdataviz.legendControl.addLegend(getLegendHTML());

          function getLegendHTML() {
            var grades = [0, 10, 20, 50, 100, 200, 500, 1000],
            labels = [],
            from, to;

            for (var i = 0; i < grades.length; i++) {
              from = grades[i];
              to = grades[i + 1];

              labels.push(
                '<li><span class="swatch" style="background:' + getColor(from + 1) + '"></span> ' +
                from + (to ? '&ndash;' + to : '+')) + '</li>';
            }

            return '<span>People per square mile</span><ul>' + labels.join('') + '</ul>';
          }

      </script>
---

{% include header.html %}

<div class='col12 pad2y space-bottom center clearfix'>
  <div class='col8 margin2'>
    <h1 class='space-bottom1'>Build maps the way you want</h1>
    <p>Using the powerful MapBox Javascript API</p>
  </div>
</div>

{% capture htmltop %}<html>
<head>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link href='//api.tiles.mapbox.com/mapbox.js/{{site.mapboxjs}}/mapbox.css' rel='stylesheet' />
  <script src='//api.tiles.mapbox.com/mapbox.js/{{site.mapboxjs}}/mapbox.js'></script>
  <style>#map { position:absolute; width:100%; height:100%; }</style>
</head>
<body>{% endcapture %}

{% capture htmlbottom %}</body>
</html>
{% endcapture %}

<div class='col10 margin1 clearfix keyline-all round space-bottom'>
  <div class='clearfix col12 pad2'>
    <div class='example clearfix tabs'>
      {% for eg in page.examples %}
      <a class='select-example col3 {% if forloop.index == 1 %}active{% endif %}' href='#active{{forloop.index}}'>{{eg.title}}</a>
      {% endfor %}
    </div>
  </div>
  <div id='examples' class='col12 clip sliding h active1 fill-light row10 clearfix'>
    {% for example in page.examples %}
      <div class='example animate col12 clearfix row10'>
        <div class='sliding v active1 row10'>
          <div class='col12 row10 animate'>
            <div id='{{example.id}}' class='col12 row10'></div>
            {{example.code}}
          </div>
          <div class='col12 row10 animate'>
            <div class='row8 code pad1 keyline-bottom'>
  {% highlight html %}{{htmltop}}<div id='{{example.id}}'></div>
  {{example.code}}{{htmlbottom}}{% endhighlight %}
            </div>
          </div>
        </div>
        <div class='pad2y pad1x col12 pin-bottom fill-darken3 dark clearfix'>
          <div class='col8 pad1x prose'>
            {{example.description}}
          </div>
          <div class='col4 pad1x'>
            <div class='tabs col12 clearfix'>
              <a class='col6 toggle active' href='#active1'>Map</a>
              <a class='col6 toggle icon sprocket' href='#active2'>Code</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class='pad2y'>
  <div class='clearfix'>
    <div class='col10 margin1 clearfix'>
      <div class='col6 pad2'>
        <h2 id='mapbox-and-leaflet' class='space-bottom1'>Leaflet built-in</h2>
        <div class='prose'>
          <p>MapBox.js is built on top of <a href='http://leafletjs.com/'>Leaflet</a> &#8212; an open-source mapping library. <a href='http://leafletjs.com/reference.html'>Leaflet's API</a> handles much of the fundamental operations of using maps. MapBox.js documentation should be read in conjunction with the <a href='http://leafletjs.com/reference.html'>Leaflet API reference</a>.</p>
        </div>
      </div>

      <div class='col6 pad2'>
        <h2 id='open-specs' class='space-bottom1'>Open</h2>
        <div class='prose'>
          <p>The source code is open source and available on <a href='//github.com/mapbox/mapbox.js/'>GitHub</a>. It takes advantage of open specifications like <a href='http://mapbox.com/developers/tilejson/'>TileJSON</a>, <a href='http://mapbox.com/developers/utfgrid/'>UTFGrid</a> and  <a href='http://www.geojson.org/'>GeoJSON</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class='clearfix'>
    <div class='col10 margin1 clearfix'>
      <div class='col6 pad2'>
        <h2 id='resources' class='space-bottom1'>A community to help</h2>
        <div class='prose'>
          <p>Have a question? Ask in <a href='http://support.mapbox.com/discussions/mapboxjs'>support.mapbox.com</a>: we are here to help.</p>
        </div>
      </div>

      <div class='col6 pad2'>
        <h2 id='mobile' class='space-bottom1'>Optimized for mobile</h2>
        <div class='prose'>
          <p>MapBox.js is optimized for mobile devices and small screens by default. For additional tools for managing mobile maps, check out the <a href='{{site.baseurl}}/api/{{site.mapboxjs}}/#section-mobile'>Mobile section in the documentation</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class='clearfix pad2y'>
    <div class='col10 margin1 center clearfix'>
      <h2 id='browser-supported' class='space-bottom1'>Browser tested &amp; supported</h2>
      <div class='prose'>
        <p>MapBox.js is compatible with IE8+ and <a href='http://browsehappy.com/'>modern browsers</a> like Chrome, Firefox, and Safari.</p>
      </div>
    </div>
  </div>

  <div class='clearfix pad2y'>
    <div class='col10 margin1 keyline-all round'>
      <div class='pad2'>
        <h2 id='getting-started' class='space-bottom1'>Get started fast</h2>
        <div class='prose'>
          <p>MapBox.js is hosted on the same reliable and speedy CDN that powers MapBox tiles. There&#39;s no API key to use it. All that's needed is a reference to the script &amp; CSS in your HTML.</p>
    {% highlight html %}<link href='//api.tiles.mapbox.com/mapbox.js/{{site.mapboxjs}}/mapbox.css' rel='stylesheet' />
<script src='//api.tiles.mapbox.com/mapbox.js/{{site.mapboxjs}}/mapbox.js'></script>{% endhighlight %}
          <a href='#standalone' id='trigger-standalone' class='small strong'>Need MapBox.js without Leaflet bundled?</a>
        </div>
      </div>

      <div id='standalone' class='note hidden'>
        <h3 id='standalone' class='space-bottom1'>MapBox.js standalone</h3>
        <div class='prose'>
          <p>A standalone version of MapBox.js is also available without Leaflet included. Add the following in your HTML document:</p>
{% highlight html %}<link href='//api.tiles.mapbox.com/mapbox.js/{{site.mapboxjs}}/mapbox.standalone.css' rel='stylesheet' />
<script src='//api.tiles.mapbox.com/mapbox.js/{{site.mapboxjs}}/mapbox.standalone.js'></script>{% endhighlight %}
          <small>Note: <strong>Leaflet 0.7</strong> or greater is required.</small>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function() {
  if (window.location.hash === '#standalone') $('#standalone').removeClass('hidden');

  var docs = new Docs();

  $('.select-example').click(function() {
    var current = $(this).attr('href').split('#').pop();
    var exmaples = document.getElementById('examples');

    // Remove the activeN value from the container
    examples.className = examples.className.replace(/active[0-9]+/, current);

    $(this).addClass('active').siblings().removeClass('active');
    return false;
  });

  $('#trigger-standalone').click(function() {
    $('#standalone').removeClass('hidden');
    return false;
  });

  $('.toggle').click(function() {
    var current = $(this).attr('href').split('#').pop();
    $(this).addClass('active').siblings().removeClass('active');

    $(this)
      .parents('.example')
      .find('.v')
      .removeClass('active1 active2')
      .addClass(current);
    return false;
  });
});
</script>

{% include developers-footer.html %}
