{% for p in site.tags[site.mapboxjs] %}
<nav class='navigation fill-light full-y scroll-y v js-nav-docs quiet-scroll'>
  {% for nav0 in p.navigation %}
    <div class='section'>
      <a class='col12 sub strong {% if p.url contains section.id %} active{% endif %}' href='{{site.baseurl}}/api/{{p.version}}/{{section.id}}#api'>{{section.title}}</a>
      {% for nav1 in section.nav %}
        <a class='col12 truncate sub' href='{{site.baseurl}}/api/{{p.version}}/{{nav1.id}}'>{{nav.title}}</a>
        {% if nav.nav1 %}
          {% for nav2 in nav1.nav %}
            <a class='col12 truncate pad4x small quiet' href='{{site.baseurl}}/api/{{p.version}}/{{nav1.id}}#{{nav2|replace:' ','_'|downcase}}'>{{sub}}</a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</nav>
{% endfor %}
