{% assign endpath = page.url | split: '/' | last %}

{% for p in site.tags[site.mapboxjs] %}
<nav class='navigation pad1y full-y keyline-top scroll-y v js-nav-docs quiet-scroll'>
  <div class='section space-bottom1'>
    <a class='col12 truncate sub{% if endpath == p.version %} active{% endif %}' href='{{site.baseurl}}/api/{{p.version}}/'>Overview</a>
  </div>
  {% for section in p.navigation %}
    <div class='section space-bottom1'>
      <h3 class='sub'>{{section.title}}</h3>
      {% for nav in section.nav %}
        <a class='col12 truncate sub{% if endpath == nav.id | replace: ' ', '_' | downcase %} active{% endif %}' href='{{site.baseurl}}/api/{{p.version}}/{{nav.id|replace:' ','_'|downcase}}'>{{nav.title}}</a>
        {% if nav.sub %}
          {% for sub in nav.sub %}
            <a class='col12 truncate pad4x small quiet' href='{{site.baseurl}}/api/{{p.version}}/{{section.id}}#{{sub|replace:' ','_'|downcase}}'>{{sub}}</a>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
  {% endfor %}
</nav>
{% endfor %}
