<div class='developer-footer fillL clearfix'>
  <div class='col-section footer-label cell3 pad3'>
    <h3>Developer Tools</h3>
    <small>Documentation for all our projects.</small>
  </div>
  <div class='col-section cell2 pad3'>
    <a href='{{site.url}}/developers/api/'>Core API</a>
    <a href='{{site.url}}/mapbox.js/api/'>mapbox.js</a>
    <a href='{{site.url}}/map-sites/'>Map site templates</a>
    <a href='{{site.url}}/mapbox-ios-sdk/'>Mobile SDK for iOS</a>
  </div>
  <div class='col-section cell2 pad3'>
    <a href='https://github.com/mapbox/MapBoxBench'>MapBox Bench</a>
    <a href='{{site.url}}/geo-for-google-docs/'>Geo for Google Docs</a>
    <a href='https://github.com/mapbox/clustr'>Clustr</a>
  </div>
</div>
