<div class='footer keyline-bottom fill-light clearfix'>
  <div class='col-section footer-label col3 pad4'>
    <h3>Developer Tools</h3>
    <small>Documentation for all our projects.</small>
  </div>
  <div class='col2 pad4 links small'>
    <a href='{{site.url}}/developers/api/'>Core API</a>
    <a href='{{site.url}}/mapbox.js/api/'>mapbox.js</a>
    <a href='{{site.url}}/map-sites/'>Map site templates</a>
    <a href='{{site.url}}/mapbox-ios-sdk/'>MapBox iOS SDK</a>
  </div>
  <div class='col2 pad4 links small'>
    <a href='{{site.url}}/mbxmapkit/'>MBXMapKit for iOS &amp; OS X</a>
    <a href='{{site.url}}/geo-for-google-docs/'>Geo for Google Docs</a>
    <a href='https://github.com/mapbox/clustr'>Clustr</a>
  </div>
</div>
