<div class='footer clearfix space-bottom'>
  <div class='col-section footer-label col6 pad4y'>
    <h3>Developer Tools</h3>
    <small>Documentation for all our projects.</small>
  </div>
  <div class='col2 pad4y strong small'>
    <a class='col12' href='{{site.url}}/developers/api/'>Core API</a>
    <a class='col12' href='{{site.url}}/mapbox.js/api/'>mapbox.js</a>
    <a class='col12' href='{{site.url}}/map-sites/'>Map site templates</a>
    <a class='col12' href='{{site.url}}/mapbox-ios-sdk/'>MapBox iOS SDK</a>
  </div>
  <div class='col2 pad4y strong small'>
    <a class='col12' href='{{site.url}}/mbxmapkit/'>MBXMapKit for iOS &amp; OS X</a>
    <a class='col12' href='{{site.url}}/geo-for-google-docs/'>Geo for Google Docs</a>
    <a class='col12' href='https://github.com/mapbox/clustr'>Clustr</a>
  </div>
</div>
