<h1>Getting Started</h1>
<p>This API documentation covers the MapBox Javascript API, an API for adding
MapBox maps to webpages.

</p>
<h2>Prerequisites</h2>
<p>In order to use this API, you&#39;ll need to understand basic Javascript and mapping concepts.
If you&#39;d like to learn Javascript, start with <a href="http://www.codecademy.com/tracks/javascript">an interactive course</a>,
<a href="http://eloquentjavascript.net/">a book</a> or <a href="http://www.amazon.com/dp/0596517742/?tag=stackoverfl08-20">a printed book</a>.
If you&#39;d like to learn more about maps, <a href="http://mapbox.com/developers/guide/">we&#39;ve provided a helpful article explaining how web maps work</a>.

</p>
<h2>MapBox.js &amp; Leaflet</h2>
<p>The Javascript API is implemented as a <a href="http://leafletjs.com/">Leaflet</a> plugin. Leaflet
is an open-source library that provides the basic ability to embed a map, like
a MapBox map or a map from OpenStreetMap, into a page. <a href="http://leafletjs.com/reference.html">The Leaflet API</a>
handles much of the fundamental operations of using maps, so this API documentation is
meant to be used in conjunction with the <a href="http://leafletjs.com/reference.html">Leaflet</a> API
reference.

</p>
<p>The MapBox API includes Leaflet and makes it easier to integrate Leaflet with MapBox&#39;s
maps and services.

</p>
<h2>Getting Started with the API</h2>
<p>Here&#39;s a simple page that you can set up with MapBox.js:
</p>

<pre><code>&lt;html&gt;
&lt;head&gt;
  &lt;link href=&#39;//api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.css&#39; rel=&#39;stylesheet&#39; /&gt;
  &lt;!--[if lte IE 8]&gt;
    &lt;link href=&#39;//api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.ie.css&#39; rel=&#39;stylesheet&#39; /&gt;
  &lt;![endif]--&gt;
  &lt;script src=&#39;//api.tiles.mapbox.com/mapbox.js/v1.2.0/mapbox.js&#39;&gt;&lt;/script&gt;
  &lt;style&gt;
  #map {
    width:600px;
    height:400px;
  }
  &lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div id=&#39;map&#39; class=&#39;dark&#39;&gt;&lt;/div&gt;
  &lt;script type=&#39;text/javascript&#39;&gt;
  var map = L.mapbox.map(&#39;map&#39;, &#39;examples.map-y7l23tes&#39;)
      .setView([37.9, -77], 5);
  &lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</code></pre>

<p>The necessary Javascript and CSS files for the map are hosted on MapBox&#39;s servers, so they&#39;re
served from a worldwide content-distribution network. There&#39;s no API key required to include
the Javascript API - you&#39;ll identify with MapBox&#39;s services simply by using your own custom
maps.

</p>
<h2>Reading this Documentation</h2>
<p>This documentation is organized by <em>methods</em> in the Javascript API. Each method
is shown with potential arguments, and their types. For instance, the <code>setFilter</code>
method on <code>L.mapbox.markerLayer</code> is documented as:

</p>
<pre><code>markerLayer.setFilter(filter: function)</code></pre>
<p>The format <code>filter: function</code> means that the single argument to <code>setFilter</code>, a filter
function, should be a Javascript function. Other kinds of arguments include
<code>object</code>, <code>string</code>, or <code>Element</code>.

</p>
<p>When the API has a Javascript constructor function that returns an object, the constructor
is documented with its full name and the functions on the object are named with just
the type of the object. For instance, <code>L.mapbox.markerLayer</code> documents a function that
returns a layer for markers. The methods on that object are then documented as
<code>markerLayer.setFilter</code>, <code>markerLayer.getGeoJSON</code>, and so on.

</p>
<h2>The <code>ready</code> Event</h2>
<p>Like many other Javascript libraries, some of what the MapBox.js plugin does
is <a href="http://recurial.com/programming/understanding-callback-functions-in-javascript/">asynchronous</a> - when
you create a layer like <code>L.mapbox.tileLayer(&#39;examples.foo&#39;)</code>, the layer
doesn&#39;t immediately know which tiles to load and its attribution information.
Instead, it loads this information with an <a href="http://en.wikipedia.org/wiki/AJAX">AJAX</a>
call.

</p>
<p>For most things you&#39;ll write, this isn&#39;t a problem, since MapBox.js does a good
job of handling these on-the-fly updates. If you&#39;re writing code that needs
to know when layers and other dynamically-loaded objects are ready, you can
use the <code>ready</code> event to listen for their ready state. For instance:

</p>
<pre><code>var layer = L.mapbox.tileLayer(&#39;examples.map-0l53fhk2&#39;);
layer.on(&#39;ready&#39;, function() {
    // the layer has been fully loaded now, and you can
    // call .getTileJSON and investigate its properties
});</code></pre>
<p>Similarly, dynamically-loaded objects produce an <code>error</code> event if something
goes wrong, like if the map ID you provide is a 404:

</p>
<pre><code>var layer = L.mapbox.tileLayer(&#39;examples.map-0l53fhk2&#39;);
layer.on(&#39;error&#39;, function(err) {
    // for some reason, this layer didn&#39;t load.
    // you can find out more with the &#39;err&#39; argument
    // passed to this function
});</code></pre>
<h2>TileJSON &amp; UTFGrid</h2>
<p>This library takes advantage of several open specifications, including
<a href="http://mapbox.com/developers/tilejson/">TileJSON</a> and
<a href="http://mapbox.com/developers/utfgrid/">UTFGrid</a>.

</p>
<p>For the purposes of this API, TileJSON is used as a way to <em>describe
maps and resources</em>, so it
is the configuration format given to layers, maps, and controls. UTFGrid
is <em>a fast way to interact with maps</em> with tooltips and customizable behaviors,
and is easy to define and produce in <a href="http://mapbox.com/tilemill/">TileMill</a>.
</p>
