{% capture api %}
{% if page.v0 %}v0.6.7{% else %}{{site.mapboxjs}}{% endif %}
{% endcapture %}

{% capture examples %}
{% if page.v0 %}v0.6.7{% else %}v1.0.0{% endif %}
{% endcapture %}

<nav class='hide-mobile pill mobile-cols col12 clearfix pad4y'>
  <a href='{{site.baseurl}}/' class='icon fl home button'></a>
  <a href='{{site.baseurl}}/api/{{api}}/' class='col3 button quiet {% if page.url contains "api" %}active{% endif %}'>API</a>
  <a href='{{site.baseurl}}/example/{{examples}}/' class='col3 button quiet {% if page.url contains "example" %}active{% endif %}'>Examples</a>
</nav>
