<nav id='docs-nav' class='pill mobile-cols col12 pad2 clearfix'>
  <a href='{{site.baseurl}}/overview' class='col4 button {% if page.url == "/overview/index.html" %}active{% endif %}'>Overview</a>
  {% if page.version contains 'v1' %}
    <a href='{{site.baseurl}}/api/{{page.version}}' class='col4 button {% if page.url contains "api" %}active{% endif %}'>API</a>
    <a href='{{site.baseurl}}/example/v0.6.7' class='col4 button {% if page.url contains "example" %}active{% endif %}'>Examples</a>
  {% else %}
    <a href='{{site.baseurl}}/api/{{page.version}}' class='col4 button {% if page.url contains "api" %}active{% endif %}'>API</a>
    <a href='{{site.baseurl}}/example/v1.0.0' class='col4 button {% if page.url contains "exmaples" %}active{% endif %}'>Examples</a>
  {% endif %}
</nav>
