<header class='mb-developers fill-green small'>
  <div class='limiter'>
    <div class='clearfix'>
      <div class='col5 margin3 space pad2y'>
        Mapbox.js
        <span class='version'>
        {% if page.v0 %}
          <span class='fill-yellow'>{{site.oldversion}}</span>
        {% elsif page.version %}
          {% if page.category == 'examples' %}
            {{site.mapboxjs}}
          {% else %}
            {{page.version}}
          {% endif %}
        {% else %}
          {{site.mapboxjs}}
        {% endif %}
        </span>
        documentation
      </div>
    </div>
  </div>
</header>
