/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.3
 *
 * Modified by tristen <@fallsemo>
 */
pre,
pre code {
  font-size: 13px;
  }
pre, code {
  font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
  color: #333;
  background: #fff;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  }
pre {
  word-wrap: break-word;
  padding: 20px;
  line-height: 19px;
  margin-bottom: 20px;
  border: 1px solid #CCC;
  overflow: auto;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 2px;
          border-radius: 2px
  }
  pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
    }

code {
  border: 1px solid #eaeaea;
  margin: 0px 2px;
  padding: 0px 5px;
  font-size: 12px;
  }

pre .comment            { color: #998; }
pre .support            { color: #0086B3; }

pre .tag,
pre .tag-name           { color: navy; }

pre .keyword,
pre .css-property,
pre .vendor-prefix,
pre .sass,
pre .class,
pre .id,
pre .css-value,
pre .entity.function,
pre .storage.function   { font-weight: bold; }

pre .css-property,
pre .css-value,
pre .vendor-prefix,
pre .support.namespace  { color: #333; }

pre .constant.numeric,
pre .keyword.unit,
pre .hex-color          { font-weight: normal; color: #099; }

pre .entity.class       { color: #458; }

pre .entity.id,
pre .entity.function    { color: #900; }

pre .attribute,
pre .variable           { color: teal; }

pre .string,
pre .support.value      { font-weight: normal; color: #d14; }

pre .regexp             { color: #009926; }
