.example-header h3 { display:inline; margin-right:10px; }
.doc-example { border-left:1px solid #ccc; }
.doc-nav {
  border-right: 1px solid #CCC;
  margin-right: -1px;
  }
.doc-search .icon {
  position:absolute;
  top:25px;
  right:30px;
  }
#map {
  background:#fff;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  }

#demo {
  position:relative;
  height:400px;
  }
#demo *:not(.zoomer) {
  box-sizing:content-box;
  -moz-box-sizing:content-box;
  }
#demo label { display:inline; }

#snippet {
  background:#fff;
  position:relative;
  overflow:hidden;
  }
  #snippet .button {
    position:absolute;
    bottom:20px; right:20px;
    z-index:1;
    }

pre a {
  background:#EAF4F8;
  border:0;
  padding:0;
  -webkit-box-shadow: 0 0 2px #EAF4F8;
          box-shadow: 0 0 2px #EAF4F8;
  }

.code-header *,
.code-footer * { color:#999; }

.ad-v1 {
  background: #8B8CC9;
  color: white;
  font-size: 14px;
  margin-bottom: 20px;
  padding: 15px;
}

.ad-v1 a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.ad-v1 a:hover {
  color: #D0D2FC;
}

.code-header *,
.code-footer * { color:#999; }

.leaflet-control-mapbox-geocoder-form {
  background: #fff;
  padding: 10px;
}

.leaflet-control-mapbox-geocoder-form input {
  padding:5px;
  height:20px;
}
.leaflet-control .mapbox-button {
  background: #3887AC;
  margin: 0 0 0 10px;
}
.leaflet-control .mapbox-button:hover {
  background-color: #3bb2d0;
}

@media (max-width:640px) {
  .doc-example { border-bottom:1px solid #ccc; border-left:0px; }
  .doc-nav {
    margin-right:0;
    }
  }

/*  -------------------------------------------------------
 *    Syntax highlighting for prettify
 *  
 *    Acronym Key
 *    =====================================================
 *   .str = string content
 *   .kwd = keyword
 *   .com = comment
 *   .typ = type name
 *   .lit = literal value
 *   .pun = punctuation
 *   .opn = lisp open bracket
 *   .clo = listp close bracket
 *   .tag = markup tag name
 *   .atn = markup attribute name
 *   .atv = markup attribute value
 *   .dec = declaration
 *   .var = variable name
 *   .fun = function name
 *
 *  ------------------------------------------------------- */

/*greys*/
.pln { color:#404040; }
.com { color:#808080; }
.pun,
.opn,
.clo { color:#909090; }

/*rust*/
.fun { color:#DF6637; font-weight:bold; }

/*green*/
.str,
.atv { color:#75A21C; }

/*dark blue*/
.kwd,
.linenums,
.tag { color:#0B5A91; }

/*light blue*/
.lit,
.typ,
.atn,
.dec,
.var { color:#0C9DC2; }
