/*
================================================
Contents:
  00 @fontface
  01 Typography
  02 UI elements
  03 Basic layout
  04 Global styling
  05 Front page
  06 Examples page
  07 Helpers
================================================
*/


/* 00 @fontface
--------------------------------------------- */
@font-face {
  font-family: 'Opensans Bold';
  src: url('../fonts/opensans-bold.eot?#') format('eot'),
       url('../fonts/opensans-bold.woff') format('woff'),
       url('../fonts/opensans-bold.ttf') format('truetype');
  }

/* 01 Typography
--------------------------------------------- */
input,
textarea,
body {
  background: #f7f7f7;
  font: 13px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #404040;
  }
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin: 0;
  }
h1 {
  font-size: 17px;
  line-height: 26px;
  margin: 0;
  }
h2 { font-size: 20px; line-height: 28px; margin: 0 0 10px; }
h3 { font-size: 15px; line-height: 22px; margin: 0 0 10px; }
h4 { font-size: 17px; line-height: 22px; margin: 0 0 1px; }

a {
  color: #3887be;
  text-decoration: underline;
  }

p {
  margin: 0 0 20px;
  }

small {
  font-size: 11px;
  line-height: 16px;
  }
  small.tags {
    display: block;
    color: #808080;
    }

sup {
  vertical-align: super;
  font-size: 11px;
  font-weight: bold;
  }

blockquote {
  margin: 20px;
  padding-left: 20px;
  }
  blockquote p {
    font-size: 12px;
    line-height: 22px;
    font-style: italic;
    margin-bottom: 0;
    }

.content ul,
.content ol {
  margin: 0 0 20px 30px;
  }
.content ul ul,
.content ul ol,
.content ol ol,
.content ol ul {
  margin-bottom: 0;
  }
.content ul {
  list-style: disc;
  }
.content ol {
  list-style: decimal;
  }

/* 02 UI elements
--------------------------------------------- */
input[type='search'],
input[type='text'],
textarea,
select {
  display: inline-block;
  width: 338px;
  height: 30px;
  padding: 4px 10px;
  }
  input[type='search'],
  input[type='text'] {
    background: #fff;
    border: 1px solid #ccc;
    }
textarea {
  height: auto;
  }
input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
  }
input[type='search'],
input[type='text'],
textarea {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type='search']:focus,
  input[type='text']:focus,
  textarea:focus {
    outline: 0;
    border-color: #8C8C8C;
    }
input[type='search'] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  margin-bottom: 0;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    }
.button {
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ebebeb));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #ebebeb);
  background-image:    -moz-linear-gradient(top, #f5f5f5, #ebebeb);
  background-image:     -ms-linear-gradient(top, #f5f5f5, #ebebeb);
  background-image:      -o-linear-gradient(top, #f5f5f5, #ebebeb);
  background-image:         linear-gradient(to bottom, #f5f5f5, #ebebeb);
  text-align: center;
  display: inline-block;
  text-decoration: none;
  color: #444;
  border: 1px solid #b0b0b0;
  text-shadow: 0 1px 0 #fff;
  padding: 4px 10px;
  font-weight: 600;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1),
                      inset 0 1px 1px #fff;
          box-shadow: 0 1px 2px rgba(0, 0, 0, .1),
                      inset 0 1px 1px #fff;
  }
  .button.big-button {
    padding: 8px 18px;
    }
  .button.active,
  .button:active {
    background: #fff;
    border-color: #aaa;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.35);
    }

nav.tags {
  margin: 0 0 20px;
  }
  .label {
    color: #808080;
    font-size: 11px;
    line-height: 18px;
    }

/* 03 Basic layout
--------------------------------------------- */
html {
  overflow-y: scroll;
  }
.containment {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  }
section {
  position: relative;
  margin: 20px 0 40px;
  }
.limiter {
  width: 800px;
  margin: 0 auto;
  padding: 0 40px;
  }
.masthead {
  height: 60px;
  }
.heading {
  margin: 0 0 20px;
  padding: 40px 0 10px;
  }

/* 04 Global styling
--------------------------------------------- */
.masthead {
  background: #fff;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.10);
          box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  }
.masthead h1 a {
  text-decoration: none;
  }
  .masthead h1 a span {
    font-weight: 300;
    }

.masthead ul,
.masthead h1 {
  margin-top: 15px;
  }
.masthead h1 {
  float: left;
  }
.masthead ul {
  float: right;
  }
  .masthead ul li {
    float: left;
    margin-left: 10px;
    }
    .masthead ul li a {
      display: inline-block;
      }

.heading {
  border-bottom: 1px solid #ccc;
  }
  .heading h2 {
    margin: 0;
    }
  .heading h4 {
    color: #808080;
    font-weight: 300;
    display: block;
    margin: 0 0 20px;
    }

/* 05 Front page
--------------------------------------------- */
.browse {
  padding: 0 0 60px;
  }
form#search {
  width: 360px;
  margin: 0 auto;
  }
  form#search input {
    background: white url(../images/sprite.png) no-repeat 327px -20px;
    padding-right: 40px;
    width: 308px;
    }

ul.topics {
  border: 1px solid #ccc;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.10);
          box-shadow: 0 0 8px rgba(0,0,0,0.10);
  }
  ul.topics li a {
    display: block;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #dedede;
    padding: 10px;
    box-sizing: border-box;
    min-height: 60px;
    opacity: 1;
    text-decoration: none;
    font-weight: normal;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-transition: all 0.05s linear;
       -moz-transition: all 0.05s linear;
         -o-transition: all 0.05s linear;
            transition: all 0.05s linear;
    }
    ul.topics li a:hover {
      border-color: #b0b0b0;
      }
      ul.topics li a:hover h4 {
        text-decoration: underline;
        }

  ul.topics li a .description {
    color: #404040;
    }

  #tag-list li {
    float: left;
    margin: 0 3px 3px 0;
    }

/* 06 Examples page
--------------------------------------------- */
#toggle-sections {
  float: right;
  }
.close {
  display:inline!important;
  background:none!important;
  text-indent:0!important;
  overflow:default!important;
  }
  .close:active {
    border-color:none!important;
    background:none!important;
    -webkit-box-shadow:none!important;
            box-shadow:none!important;
    }

#map {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1px solid #CCC;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  }

#demo,
#snippet {
  display: none;
  }
  #demo.active,
  #snippet.active {
    display: block;
    }

#demo {
  width: 100%;
  height: 550px;
  }

#snippet {
  position: relative;
  }
  #snippet #copy {
    position: absolute;
    top: 20px;
    right: 20px;
    }

/* 07 Helpers
--------------------------------------------- */
.icon {
  background: transparent url(images/sprite.png) no-repeat 0 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  }
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */
