/*
================================================
Contents:
  01 Typography
  02 UI elements
  03 Basic layout
  04 Global styling
  05 Front page
  06 Examples page
  07 Helpers
================================================
*/

/* 03 Basic layout
--------------------------------------------- */
html {
  overflow-y: scroll;
  }
.limiter {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  }
.section {
  position: relative;
  margin: 20px 0 40px;
  }
.masthead {
  position: relative;
  padding: 15px 0;
  }
.heading {
  margin: 0 0 20px;
  padding: 40px 0 10px;
  }

/* 04 Global styling
--------------------------------------------- */
.masthead {
  background: #fff;
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.10);
          box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  }
.masthead h1 a {
  text-decoration: none;
  }
  .masthead h1 a span {
    font-weight: 300;
    }

.masthead h1 {
  float: left;
  }
.masthead ul {
  float: right;
  }
  .masthead ul li {
    float: left;
    margin-left: 10px;
    }
    .masthead ul li:first-child {
      margin-left: 0;
      }
    .masthead ul li a {
      display: inline-block;
      }

.heading {
  border-bottom: 1px solid #ccc;
  }
  .heading h2 {
    margin: 0;
    }
  .heading h4 {
    color: #808080;
    font-weight: 300;
    display: block;
    margin: 0 0 20px;
    }

/* 05 Front page
--------------------------------------------- */
.intro #simple-code,
.intro #simple-map {
  background: #fff;
  float: left;
  height: 450px;
  width: 50%
  }
div.tags {
  margin: 0 0 15px;
  }
  .label {
    color: #808080;
    font-size: 11px;
    line-height: 18px;
    }

.browse {
  padding: 20px 0;
  }
form#search {
  width: 480px;
  margin: 0 auto 15px;
  }
  form#search input {
    background: white url(../images/sprite.png) no-repeat 445px -15px;
    padding-right: 40px;
    width: 423px;
    font-size: 16px;
    line-height: 26px;
    }
@media only screen and (max-width: 600px) {
  form#search {
    width: 100%;
    }
  form#search input {
    background: white;
    padding-right: 0;
    width: 98%;
    padding-left: 2%;
    }
  .intro #simple-code,
  .intro #simple-map {
    width: 100%;
    }
  .masthead h1 {
    width: 100%;
    }
  .masthead ul {
    float: left;
    }
  }
ul.topics {
  border: 1px solid #ccc;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.10);
          box-shadow: 0 0 8px rgba(0,0,0,0.10);
  }
  ul.topics li a {
    display: block;
    padding: 10px;
    background: #fff;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    padding: 15px;
    margin-top: -1px;
    min-height: 60px;
    opacity: 1;
    text-decoration: none;
    font-weight: normal;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-transition: all 0.05s linear;
       -moz-transition: all 0.05s linear;
         -o-transition: all 0.05s linear;
            transition: all 0.05s linear;
    }
    ul.topics li a:hover {
      border-color: #b0b0b0;
      position: relative;
      -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.15);
         -moz-box-shadow: 0 0 8px rgba(0,0,0,0.15);
              box-shadow: 0 0 8px 0 0 rgba(0,0,0,0.15);
      }
      ul.topics li a:hover h4 {
        text-decoration: underline;
        }

  ul.topics li a .description {
    color: #404040;
    }

  #tag-list li {
    float: left;
    margin: 0 3px 3px 0;
    }

/* 06 Examples page
--------------------------------------------- */
#toggle-sections {
  float: right;
  }
.close {
  display:inline!important;
  background:none!important;
  text-indent:0!important;
  overflow:default!important;
  }
  .close:active {
    border-color:none!important;
    background:none!important;
    -webkit-box-shadow:none!important;
            box-shadow:none!important;
    }

#map {
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: 1px solid #CCC;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.10);
  -webkit-border-radius: 2px;
          border-radius: 2px;
  }

#demo,
#snippet {
  display: none;
  }
  #demo.active,
  #snippet.active {
    display: block;
    }

#demo {
  width: 100%;
  height: 550px;
  }

#snippet {
  position: relative;
  }
  #snippet #copy {
    position: absolute;
    top: 20px;
    right: 20px;
    }
