/*
================================================
Contents:
  00 @fontface
  01 Typography
  02 UI Elements
  03 Basic layout
  04 Global Styling
  05 Front page
  06 Helpers
================================================
*/


/* 00 @fontface
--------------------------------------------- */
@font-face {
  font-family: 'Opensans Bold';
  src: url('../fonts/opensans-bold.eot?#') format('eot'),
       url('../fonts/opensans-bold.woff') format('woff'),
       url('../fonts/opensans-bold.ttf') format('truetype');
  }

@font-face {
  font-family: 'Opensans Light';
  src: url('../fonts/opensans-light.eot?#') format('eot'),
       url('../fonts/opensans-light.woff') format('woff'),
       url('../fonts/opensans-light.ttf') format('truetype');
  }

/* 01 Typography
--------------------------------------------- */
input,
textarea,
body {
  background: #f7f7f7;
  font: 13px/20px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #404040;
  }
h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
  margin: 0;
  }
h1 {
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  }
h2 { font-size: 20px; line-height: 28px; margin: 0 0 10px; }
h3 { font-size: 15px; line-height: 22px; margin: 0 0 10px; }

a {
  color: #3887be;
  text-decoration: underline;
  }

p {
  margin: 0 0 20px;
  }

small {
  font-size: 11px;
  line-height: 16px;
  }
  small.tags {
    display: block;
    color: #808080;
    }

sup {
  vertical-align: super;
  font-size: 11px;
  font-weight: bold;
  }

blockquote {
  margin: 20px;
  padding-left: 20px;
  }
  blockquote p {
    font-size: 12px;
    line-height: 22px;
    font-style: italic;
    margin-bottom: 0;
    }

.content ul,
.content ol {
  margin: 0 0 20px 30px;
  }
.content ul ul,
.content ul ol,
.content ol ol,
.content ol ul {
  margin-bottom: 0;
  }
.content ul {
  list-style: disc;
  }
.content ol {
  list-style: decimal;
  }

/* 02 UI Elements
--------------------------------------------- */
input,
textarea,
select {
  display: inline-block;
  width: 220px;
  height: 25px;
  padding: 4px 10px;
  }
  input[type='search'], 
  input[type='text'] {
    background: #fff;
    border: 1px solid #ccc;
    }
textarea {
  height: auto;
  }
input[type=button],
input[type=reset],
input[type=submit] {
  width: auto;
  height: auto;
  }
input[type='search'], 
input[type='text'],
textarea {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type='search']:focus, 
  input[type='text']:focus,
  textarea:focus {
    outline: 0;
    border-color: #8C8C8C;
    }
input[type='search'] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
  margin-bottom: 0;
  }
  input::-webkit-search-decoration,
  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    }
.button {
  background: #f7f7f7;
  display: inline-block;
  margin: 0 0 5px;
  padding: 6px 8px;
  color: #3c4e5a;
  border: 1px solid #ccc;
  text-shadow: 0 1px 1px #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1),
                      inset 0 1px 1px #fff;
          box-shadow: 0 1px 2px rgba(0, 0, 0, .1),
                      inset 0 1px 1px #fff;
  }
  .button.big-button {
    padding: 4px 10px;
    }


/* 03 Basic Layout
--------------------------------------------- */
section {
  margin: 20px 0;
  }
.limiter {
  width: 800px;
  margin: 0 auto;
  }
.masthead {
  background: #fff;
  height: 80px;
  }

/* 04 Global Styling
--------------------------------------------- */
.masthead ul, 
.masthead h1 {
  margin-top: 25px;
  }
.masthead h1 {
  float: left;
  }
.masthead ul {
  float: right;
  }
  .masthead ul li {
    float: left;
    margin-left: 10px;
    }
    .masthead ul li a {
      display: inline-block;
      }


/* 05 Front page
--------------------------------------------- */
.browse {
  padding: 30px 0 9px;
  }

ul.topics li a {
  background-color: #303030;
  color: #fff;
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  opacity: 1;
  text-decoration: none;
  font-weight: normal;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all 0.05s linear;
     -moz-transition: all 0.05s linear;
       -o-transition: all 0.05s linear;
          transition: all 0.05s linear;
  }
  ul.topics li a:hover {
    background-color: #101010;
    }

#tag-list {
  display: block;
  margin: 20px 0 10px;
  }
  #tag-list li {
    float: left;
    margin: 0 3px 3px 0;
    }
    #tag-list li a {
      color: #fff;
      background: #b0b0b0;
      background: rgba(0,0,0,0.25);
      display: inline-block;
      padding: 4px 10px;
      text-decoration: none;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      -webkit-transition: background-color 0.1s linear;
         -moz-transition: background-color 0.1s linear;
           -o-transition: background-color 0.1s linear;
              transition: background-color 0.1s linear;
      }
      #tag-list li a:hover {
        background: rgba(0,0,0,0.35);
        }
      #tag-list li a.active {
        background: #404040;
        }

/* 06 Helpers
--------------------------------------------- */
.icon {
  background: transparent url(images/sprite.png) no-repeat 0 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  }
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  }

* html .clearfix { height: 1%; } /* IE6 */
*:first-child + html .clearfix { min-height: 1%; } /* IE7 */
