.leaflet-control-minimap {
    border:solid rgba(255, 255, 255, 0.7) 3px;
    box-shadow: 0 1px 7px #999;
    background: #f8f8f9;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.leaflet-control-minimap a {
    background-color: rgba(255, 255, 255, 0.75);
    background-position: 1px 2px;
    background-repeat: no-repeat;
    display: block;
    outline: none;
    z-index: 99999;
}

.leaflet-control-minimap a.minimized {
    background-position: 1px -18px;
}

.leaflet-control-minimap-toggle-display {
    background-image: url("images/toggle.png");
    border-radius: 4px 4px 4px 4px;
    height: 19px;
    width: 19px;
    position: absolute;
    bottom: 0;
    right: 0; 
}
