a.wax-fullscreen {
  /* TODO: sprite-based fullscreen button */
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 99999;
  }

.zoomer,
  .wax-legend,
  .wax-tooltip {
  display:block;
  position:absolute;
  border:1px solid #ccc;
  background:#fff;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  -webkit-box-shadow:rgba(0,0,0,0.1) 0px 1px 3px;
  }

  
/* ### Zoomer, close buttons, share ### */
 .close,
 .zoomer {
  text-indent:-9999px;
  background-image:url(map-controls.png);
  background-position:60px 60px;
  background-repeat:no-repeat;
  overflow:hidden;
  }

 .close:active,
 .zoomer:active {
  border-color:#bbb;
  background-color:#ddd;
  box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  -moz-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  -webkit-box-shadow:inset rgba(0,0,0,0.1) 0px 1px 3px;
  }

 .close {
  top:4px;
  right:4px;
  width:18px;
  height:18px;
  background-position:-6px -6px;
  }

 .zoomer {
  width:28px;
  height:28px;
  top:10px;
  left:10px;
  z-index: 2;
  }

 .zoomin {
  background-position:-31px -1px;
  left:39px;
  border-radius:0px 3px 3px 0px;
  -moz-border-radius:0px 3px 3px 0px;
  -webkit-border-radius:0px 3px 3px 0px;
  }

 .zoomout {
  background-position:-61px -1px;
  border-radius:3px 0px 0px 3px;
  -moz-border-radius:3px 0px 0px 3px;
  -webkit-border-radius:3px 0px 0px 3px;
  }

.wax-fullscreen-map {
  position:fixed !important;
  width:auto !important;
  height:auto !important;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:999999999999;
  }

.wax-legends {
  position:absolute;
  left:10px;
  bottom:10px;
  z-index:999999;
  }

.wax-legends .wax-legend {
  padding:10px;
  background:#333;
  color:#fff;
  }

.wax-tooltip {
  z-index:999999;
  position:absolute;
  background:#333;
  color:#fff;
  padding:10px;
  -webkit-user-select:auto;
  left:10px;
  top:10px;
  max-width:300px;
  opacity:1;
  -webkit-transition:opacity 150ms;
  -moz-transition:opacity 150ms;
  }

.wax-movetip {
  position:absolute;
  z-index:999999;
  background:#333;
  color:#fff;
  padding:10px;
  max-width:300px;
}


.wax-fade { opacity:0; }

.wax-tooltip .close {
  display:block;
  position:absolute;
  top:0px;
  right:0px;
  }

.wax-mobile-body .wax-tooltip {
  position:absolute;
  top:50px;
  }

.zoombox-box,
.boxselector-box {
  margin:0;
  padding:0;
  border:1px dashed #888;
  background: rgba(255,255,255,0.25);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  display: none;
  }

.zoombox-box-container,
.boxselector-box-container,
.pointselector-box-container {
  margin:0;
  padding:0;
  position:absolute;
  background: url(blank.gif);
  top:0;
  left:0;
  }

.wax-point-div {
  width:10px;
  height:10px;
  margin-left:-5px;
  margin-top:-5px;
  background:#fff;
  border:1px solid #333;
  -webkit-border-radius:5px;
  }

div.wax-attribution {
  position:absolute;
  background-color:rgba(255, 255, 255, 0.7);
  color:#333;
  font-size:11px;
  line-height:20px;
  z-index:99999;
  text-align:center;
  padding:0 5px;
  bottom:0;
  left:0;
  }

.wax-attribution.wax-g {
  left:65px;
  bottom:4px;
  background:transparent;
  }

.wax-latlngtooltip {
  position:absolute;
  background:#caedf4;
  padding:3px;
  border:1px solid #75c1d0;
  border-radius:3px;
}
