.vertical .zoomout {
  top:39px;
  left: 0;
  }
.vertical .zoomin {
  -webkit-border-radius:3px 3px 0 0;
          border-radius:3px 3px 0 0;
  }
.vertical .map-fullscreen {
  top:68px;
  left:10px;
  -webkit-border-radius:0 0 3px 3px;
          border-radius:0 0 3px 3px;
  }
