.map-legends {
    border:1px solid #bbb;
    box-sizing:border-box;
    background:#fff;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.map-legends {
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.map-legends .map-legend {
    padding:10px;
}

/* Leaflet Overrides */

.leaflet-control-interaction {
    position:absolute;
    top: 10px;
    right: 10px;
    width: 300px;
}

.leaflet-popup-content-wrapper {
    border-radius: 2px;
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.leaflet-popup-tip {
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
    box-shadow:0 1px 2px rgba(0,0,0,0.15);
}

.leaflet-control-mapbox-geocoder input {
    outline: none;
    padding: 5px;
}

.leaflet-bar {
    box-shadow: none;
}

.leaflet-control .mapbox-button {
    border-radius: 4px;
    font-weight: bold;
    padding: 5px 8px;
}

/* Light Theme (default) */

.leaflet-control .mapbox-button {
    background: #fff;
    border: 1px solid #bbb;
}

.leaflet-control .mapbox-button:hover {
    background: #F4F4F4;
    cursor: pointer;
}

.leaflet-bar {
    border: 1px solid #bbb;
}

.leaflet-bar a:active,
.leaflet-control .mapbox-button:active {
    background: #e2e2e2;
}

.leaflet-control-mapbox-geocoder input[type=text] {
    border: 1px solid #bbb;
}

.leaflet-control-mapbox-geocoder input:focus {
    border-color: #888;
}

/* Dark Theme */

.leaflet-container.dark .leaflet-bar {
    border-color: #000;
}

.leaflet-container.dark .leaflet-bar a,
.leaflet-container.dark .leaflet-control .mapbox-button {
    background: #404040;
    color: #fff;
    border-color: #000;
}

.leaflet-container.dark .leaflet-bar a:hover,
.leaflet-container.dark .leaflet-control .mapbox-button:hover {
    background: #565656;
}

.leaflet-container.dark .leaflet-bar a:active,
.leaflet-container.dark .leaflet-control .mapbox-button:active {
    background: #6B6B6B;
}

.leaflet-container.dark .leaflet-bar a.leaflet-disabled,
.leaflet-container.dark .leaflet-control .mapbox-button.disabled {
    background: #252525;
    color: #474747;
}

.leaflet-container.dark .leaflet-control-mapbox-geocoder input[type=text] {
    background: #565656;
    border-color: #000;
    color: #fff;
}

.leaflet-container.dark .leaflet-control-mapbox-geocoder input:focus {
    border-color: #ccc;
}



