.mapbox-icon {
  background:transparent url(./icons-404040.png) no-repeat 0 0;
  background-size:30px 240px;
  }
  .mapbox-icon-share    { background-position:0 -52px; }
  .mapbox-icon-geocoder { background-position:0 -78px; }
  .mapbox-icon-facebook { background-position: 0 -104px; }
  .mapbox-icon-twitter  { background-position: 0 -130px; }

@media
  only screen and (-webkit-min-device-pixel-ratio:2),
  only screen and (min-device-pixel-ratio:2) {
    background:transparent url(./icons-404040@2x.png) no-repeat 0 0;
    }
}

.mapbox-share-popup,
.map-legends,
.map-tooltip {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
          box-shadow:0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius:3px;
          border-radius:3px;
  }

.map-legends {
  background:#fff;
  border:1px solid #bbb;
  }
  .map-legends .map-legend {
    padding:10px;
    }

.map-tooltip {
  background:#fff;
  border:1px solid #bbb;
  color:#222;
  font:normal 13px/20px Arial,sans-serif;
  z-index:999999;
  padding:10px;
  max-width:300px;
  opacity:1;

  min-width:180px;
  max-width:280px;
  max-height:400px;

  overflow:auto;
  width:220px\8; /*< IE 9*/

  -webkit-transition:opacity 150ms;
     -moz-transition:opacity 150ms;
       -o-transition:opacity 150ms;
          transition:opacity 150ms;
  }

.map-tooltip .close {
  background:transparent url(./icon-404040.png) no-repeat 0 0;
  background-size:30px 240px;
  text-indent:-999em;
  overflow:hidden;
  display:none;
  }
  .map-tooltip.closable .close {
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:30px;
    display:block;
    -webkit-border-radius:3px;
            border-radius:3px;
    }
    .map-tooltip.closable .close:active  {
      border-color:#b0b0b0;
      background-color:#f0f0f0;
      }

.map-tooltip small { font-size:12px; line-height:20px; }

.map-tooltip h1,
.map-tooltip h2,
.map-tooltip h3,
.map-tooltip h4,
.map-tooltip h5,
.map-tooltip h6 { font-size:16px; }

.map-tooltip h1,
.map-tooltip h2,
.map-tooltip h3,
.map-tooltip h4,
.map-tooltip h5,
.map-tooltip h6,
.map-tooltip p { margin:0 0 10px; }

/* Leaflet Overrides
------------------------------------------------------- */
.leaflet-control-interaction {
  position:absolute;
  top:10px;
  right:10px;
  width:300px;
  }
.leaflet-popup {
  pointer-events: none;
  }
.leaflet-popup-close-button {
  pointer-events: all;
  }
.leaflet-popup-content-wrapper {
  pointer-events:all;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
          box-shadow:0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius:3px;
          border-radius:3px;
  }
.leaflet-popup-content {
  line-height:1.6em;
  margin:12px 16px;
  }
.leaflet-popup-content .marker-title {
  font-weight:bold;
  line-height:2em;
  }
.leaflet-popup-tip {
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
          box-shadow:0 1px 2px rgba(0,0,0,0.15);
  }
.leaflet-control .mapbox-button {
  font-weight:bold;
  padding:5px 8px;
  -webkit-border-radius:3px;
          border-radius:3px;
  }

/* General Toolbar Overrides */
.leaflet-bar, .leaflet-touch .leaflet-bar {
  box-shadow:none;
  -webkit-border-radius:3px;
          border-radius:3px;
  }
  .leaflet-bar a:first-child,
  .leaflet-touch .leaflet-bar a:first-child {
    -webkit-border-top-left-radius:3px;
            border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
            border-top-right-radius:3px;
    }
  .leaflet-bar a:last-child,
  .leaflet-touch .leaflet-bar a:last-child {
    -webkit-border-bottom-left-radius:3px;
            border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
            border-bottom-right-radius:3px;
    }

.leaflet-container {
  cursor:-webkit-default;
  cursor:   -moz-default;
  cursor:        default;
  }
.leaflet-dragging {
  cursor:-webkit-grabbing;
  cursor:   -moz-grabbing;
  cursor:            move;
  }
.leaflet-clickable,
.leaflet-container.map-clickable {
  cursor:-webkit-pointer;
  cursor:   -moz-pointer;
  cursor:        pointer;
  }

.leaflet-popup a,
.map-tooltip a,
.map-legend a {
  color:#489;
  text-decoration:none;
  }

.mapbox-share-popup {
  background:#fff;
  padding:20px;
  z-index:1000;
  }
.mapbox-share-buttons {
  border-bottom:1px solid #e2e2e2;
  margin-bottom:10px;
  padding:15px 0;
  clear:both;
  }
.mapbox-share-buttons a {
  display:inline-block;
  font-weight:bold;
  height:30px;
  line-height:30px;
  padding-left:30px;
  text-decoration:none;
  width:48%;
  -webkit-border-radius:3px;
          border-radius:3px;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }
.mapbox-share-buttons a.mapbox-share-facebook {
  background-color:#3B5998;
  color:#fff;
  margin-right:4%;
  }
  .mapbox-share-buttons a.mapbox-share-facebook:hover {
    background-color: #466EB2;
    }

.mapbox-share-buttons a.mapbox-share-twitter {
  background-color:#4099FF;
  color:#fff;
  }
.mapbox-share-buttons a.mapbox-share-twitter:hover {
  background-color: #64B2FF;
  }

.mapbox-share-popup h3 {
  margin:0;
  }
.mapbox-share-popup small {
  color:#666;
  }
.mapbox-share-popup textarea {
  width:100%;
  height:50px;
  }

/* Light Theme (default)
------------------------------------------------------- */
.leaflet-control .mapbox-button {
  background-color:#fff;
  border:1px solid #bbb;
  }
.leaflet-control .mapbox-button:hover {
  background-color:#F4F4F4;
  cursor:pointer;
  }
.leaflet-bar,
.leaflet-touch .leaflet-bar {
  border:1px solid #bbb;
  }
.leaflet-bar a:active,
.leaflet-control .mapbox-button:active {
  background-color:#e2e2e2;
  }
.leaflet-control-mapbox-geocoder {
  position:relative;
  }
.leaflet-control-mapbox-geocoder.searching:before {
  background:#cccccc;
  background:rgba(224,224,224,0.5);
  content:'';
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:100;
  }
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-wrap {
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    overflow:hidden;
    top:0px;
    left:30px;
    width:0;
    height:30px;
    opacity:0;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
    -webkit-transition:width 100ms;
       -moz-transition:width 100ms;
         -o-transition:width 100ms;
            transition:width 100ms;
  }
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-wrap {
  width:180px;
  border-left:0;
  opacity:1;
  -webkit-border-radius:0 3px 3px 0;
          border-radius:0 3px 3px 0;
  }
.leaflet-bar .leaflet-control-mapbox-geocoder-toggle,
.leaflet-bar .leaflet-control-mapbox-geocoder-toggle:hover {
  border-bottom:none;
  }
.leaflet-control-mapbox-geocoder-toggle {
  -webkit-border-radius:2px;
          border-radius:2px;
  }
.leaflet-control-mapbox-geocoder.active,
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-toggle {
  -webkit-border-top-right-radius:0;
          border-top-right-radius:0;
  -webkit-border-bottom-right-radius:0;
          border-bottom-right-radius:0;
  }
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input {
  border:0;
  width:175px;
  padding-left:10px;
  height:26px;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  }

.leaflet-control-mapbox-geocoder .mapbox-geocoder-toggle {
  position:absolute;
  top:0;
  left:0;
  }
.leaflet-control-mapbox-geocoder input:focus {
  border-color:#888;
  }
.leaflet-control-mapbox-geocoder-results {
  position:absolute;
  left:26px;
  top:26px;
  }
.leaflet-control-mapbox-geocoder-results a,
.leaflet-control-mapbox-geocoder-results span,
.leaflet-control-mapbox-geocoder-results a:hover {
  width:180px;
  padding:0 10px;
  text-overflow:ellipsis;
  border:1px solid #ccc;
  border-top:0;
  white-space:nowrap;
  display:block;
  background:#fff;
  line-height:30px;
  overflow:hidden;
  text-align:center;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }
.leaflet-control-mapbox-geocoder-results a:hover {
  background:#eee;
  }
.leaflet-control-mapbox-geocoder-results a:last-child,
.leaflet-control-mapbox-geocoder-results span:last-child {
  border-bottom:1px solid #ccc;
  }

/* Dark Theme
------------------------------------------------------- */
.leaflet-container.dark .leaflet-bar {
  border-color:#000;
  }
.leaflet-container.dark .leaflet-bar a,
.leaflet-container.dark .leaflet-control .mapbox-button {
  background-color:#404040;
  color:#fff;
  border-color:#000;
  }
.leaflet-container.dark .leaflet-bar a:hover,
.leaflet-container.dark .leaflet-control .mapbox-button:hover {
  background-color: #565656;
  }
.leaflet-container.dark .leaflet-bar a:active,
.leaflet-container.dark .leaflet-control .mapbox-button:active {
  background-color:#6B6B6B;
  }
.leaflet-container.dark .leaflet-bar a.leaflet-disabled,
.leaflet-container.dark .leaflet-control .mapbox-button.disabled {
  background-color:#252525;
  color:#404040;
  }
.leaflet-container.dark .leaflet-control-mapbox-geocoder input[type=text] {
  background-color:#565656;
  border-color:#000;
  color:#fff;
  }
.leaflet-container.dark .leaflet-control-mapbox-geocoder input:focus {
  border-color:#ccc;
  }
