/* general typography */
.leaflet-container { font:15px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif; }

.leaflet-container *,
.leaflet-container *:after,
.leaflet-container *:before {
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  }

/* Base Leaflet
------------------------------------------------------- */
.leaflet-map-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-pane,
.leaflet-tile-container,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-popup-pane,
.leaflet-overlay-pane svg,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position:absolute;
  left:0;
  top:0;
  }

.leaflet-container {
  overflow:hidden;
  -ms-touch-action:none;
  }
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  -webkit-user-drag:none;
  -webkit-user-select:none;
     -moz-user-select:none;
          user-select:none;
  }
.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
  }

.leaflet-tile {
  filter:inherit;
  visibility:hidden;
  }
.leaflet-tile-loaded {
  visibility:inherit;
  }
.leaflet-zoom-box {
  width:0;
  height:0;
  }

.leaflet-tile-pane    { z-index:2; }
.leaflet-objects-pane { z-index:3; }
.leaflet-overlay-pane { z-index:4; }
.leaflet-shadow-pane  { z-index:5; }
.leaflet-marker-pane  { z-index:6; }
.leaflet-popup-pane   { z-index:7; }

.leaflet-control {
  position:relative;
  z-index:7;
  pointer-events:auto;
  }
.leaflet-top,
.leaflet-bottom {
  position:absolute;
  z-index:1000;
  pointer-events:none;
  }
  .leaflet-top    { top:0; }
  .leaflet-right  { right:0; }
  .leaflet-bottom { bottom:0; }
  .leaflet-left   { left:0; }

.leaflet-control {
  float:left;
  clear:both;
  }
  .leaflet-right .leaflet-control   { float:right; }
  .leaflet-top .leaflet-control     { margin-top:10px; }
  .leaflet-bottom .leaflet-control  { margin-bottom:10px; }
  .leaflet-left .leaflet-control    { margin-left:10px; }
  .leaflet-right .leaflet-control   { margin-right:10px; }

/* zoom and fade animations */
.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
  opacity:0;
  -webkit-transition:opacity 0.2s linear;
     -moz-transition:opacity 0.2s linear;
       -o-transition:opacity 0.2s linear;
          transition:opacity 0.2s linear;
  }
  .leaflet-fade-anim .leaflet-tile-loaded,
  .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    opacity:1;
    }

.leaflet-zoom-anim .leaflet-zoom-animated {
  -webkit-transition:-webkit-transform 0.25s cubic-bezier(0,0,0.25,1);
     -moz-transition:   -moz-transform 0.25s cubic-bezier(0,0,0.25,1);
       -o-transition:     -o-transform 0.25s cubic-bezier(0,0,0.25,1);
          transition:        transform 0.25s cubic-bezier(0,0,0.25,1);
  }
.leaflet-zoom-anim .leaflet-tile,
.leaflet-pan-anim .leaflet-tile,
.leaflet-touching .leaflet-zoom-animated {
  -webkit-transition:none;
     -moz-transition:none;
       -o-transition:none;
          transition:none;
  }
.leaflet-zoom-anim .leaflet-zoom-hide { visibility: hidden; }

/* cursors */
.leaflet-clickable {
  cursor: pointer;
  }
.leaflet-popup-pane,
.leaflet-control {
  cursor: auto;
  }
.leaflet-container,
.leaflet-dragging,
.leaflet-dragging .leaflet-clickable,
.leaflet-dragging .leaflet-container {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor:    -moz-grabbing;
  }

/* visual tweaks */
.leaflet-container {
  background: #ddd;
  outline: 0;
  }
.leaflet-container a {
  color: #0078A8;
  }
.leaflet-container a.leaflet-active {
  outline: 2px solid orange;
  }
.leaflet-zoom-box {
  border: 2px dotted #05f;
  background: white;
  opacity: 0.5;
  }


/* general toolbar styles */
.leaflet-bar,
.leaflet-touch .leaflet-bar {
  box-shadow:none;
  border:1px solid #bbb;
  -webkit-border-radius:3px;
          border-radius:3px;
  }
.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 26px;
  height: 26px;
  line-height: 26px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: black;
  }
  .leaflet-bar a:active,
  .leaflet-control .mapbox-button:active {
    background-color:#e2e2e2;
    }
  .leaflet-bar a:first-child,
  .leaflet-touch .leaflet-bar a:first-child {
    -webkit-border-top-left-radius:3px;
            border-top-left-radius:3px;
    -webkit-border-top-right-radius:3px;
            border-top-right-radius:3px;
    }
  .leaflet-bar a:last-child,
  .leaflet-touch .leaflet-bar a:last-child {
    -webkit-border-bottom-left-radius:3px;
            border-bottom-left-radius:3px;
    -webkit-border-bottom-right-radius:3px;
            border-bottom-right-radius:3px;
    }

.leaflet-bar a.leaflet-disabled {
  cursor: default;
  background-color: #f4f4f4;
  color: #bbb;
  }

.leaflet-touch .leaflet-bar {
  -webkit-border-radius: 10px;
          border-radius: 10px;
  }
.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  }
.leaflet-touch .leaflet-bar a:first-child {
  -webkit-border-top-left-radius: 7px;
          border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
          border-top-right-radius: 7px;
  }
.leaflet-touch .leaflet-bar a:last-child {
  -webkit-border-bottom-left-radius: 7px;
          border-bottom-left-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
          border-bottom-right-radius: 7px;
  border-bottom: none;
  }


/* zoom control */
.leaflet-control-zoom-in {
  font: bold 18px 'Lucida Console', Monaco, monospace;
  }
.leaflet-control-zoom-out {
  font: bold 22px 'Lucida Console', Monaco, monospace;
  }
.leaflet-touch .leaflet-control-zoom-in {
  font-size: 22px;
  line-height: 30px;
  }
.leaflet-touch .leaflet-control-zoom-out {
  font-size: 28px;
  line-height: 30px;
  }

/* layers control */
.leaflet-control-layers {
  box-shadow:0 1px 7px rgba(0,0,0,0.4);
  background:#f8f8f9;
  -webkit-border-radius:3px;
          border-radius:3px;
  }
.leaflet-control-layers-toggle {
  background-image:url(images/layers.png);
  width:36px;
  height:36px;
  }
.leaflet-retina .leaflet-control-layers-toggle {
  background-image:url(images/layers-2x.png);
  background-size:26px 26px;
  }
.leaflet-touch .leaflet-control-layers-toggle {
  width:44px;
  height:44px;
  }
.leaflet-control-layers .leaflet-control-layers-list,
.leaflet-control-layers-expanded .leaflet-control-layers-toggle {
  display:none;
  }
.leaflet-control-layers-expanded .leaflet-control-layers-list {
  display:block;
  position:relative;
  }
.leaflet-control-layers-expanded {
  background:#fff;
  padding:6px 10px 6px 6px;
  color:#333;
  }
.leaflet-control-layers-selector {
  margin-top:2px;
  position:relative;
  top:1px;
  }
.leaflet-control-layers label {
  display: block;
  }
.leaflet-control-layers-separator {
  height:0;
  border-top:1px solid #ddd;
  margin:5px -10px 5px -6px;
  }

/* attribution and scale controls */
.leaflet-container .leaflet-control-attribution {
  background-color:rgba(255, 255, 255, 0.7);
  box-shadow:0 0 5px #bbb;
  margin:0;
  }
.leaflet-control-attribution,
.leaflet-control-scale-line {
  padding: 0 5px;
  color: #333;
  }
.leaflet-container .leaflet-control-attribution,
.leaflet-container .leaflet-control-scale {
  font-size: 11px;
  }
.leaflet-left .leaflet-control-scale {
  margin-left: 5px;
  }
.leaflet-bottom .leaflet-control-scale {
  margin-bottom: 5px;
  }
.leaflet-control-scale-line {
  border: 2px solid #777;
  border-top: none;
  color: black;
  line-height: 1.1;
  padding: 2px 5px 1px;
  font-size: 11px;
  text-shadow: 1px 1px 1px #fff;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  overflow: hidden;
  }
.leaflet-control-scale-line:not(:first-child) {
  border-top:2px solid #777;
  border-bottom:none;
  margin-top:-2px;
  box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
  }
.leaflet-control-scale-line:not(:first-child):not(:last-child) {
  border-bottom: 2px solid #777;
  }

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  box-shadow:none;
  }
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border:4px solid rgba(0,0,0,0.3);
  }

/* popup */
.leaflet-popup {
  position: absolute;
  text-align: center;
  pointer-events:none;
  }
.leaflet-popup-content-wrapper {
  padding: 1px;
  text-align: left;
  pointer-events:all;
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
          box-shadow:0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius:3px;
          border-radius:3px;
  }
.leaflet-popup-content {
  margin:10px 20px;
  }
.leaflet-popup-content p {
  margin: 18px 0;
  }
.leaflet-popup-tip-container {
  margin: 0 auto;
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
  }
.leaflet-popup-tip {
  width: 17px;
  height: 17px;
  padding: 1px;

  margin: -10px auto 0;

  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
          box-shadow:0 1px 2px rgba(0,0,0,0.15);
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  }
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: white;

  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
  }
.leaflet-container .leaflet-popup-close-button {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 4px 0 0;
  text-align: center;
  width: 18px;
  height: 14px;
  font: 16px/14px Tahoma, Verdana, sans-serif;
  color: #c3c3c3;
  text-decoration: none;
  font-weight: bold;
  pointer-events:all;
  }
.leaflet-container a.leaflet-popup-close-button:hover {
  color: #999;
  }
.leaflet-popup-scrolled {
  overflow: auto;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  }

/* div icon */
.leaflet-div-icon {
  background: #fff;
  border: 1px solid #666;
  }
.leaflet-editing-icon {
  -webkit-border-radius: 2px;
          border-radius: 2px;
  }

/* Leaflet + MapBox
------------------------------------------------------- */
.mapbox-icon {
  background:transparent url(./images/icons-404040.png) no-repeat 0 0;
  background-size:30px 240px;
  }
  .mapbox-icon.mapbox-icon-share    { background-position:0 -52px; }
  .mapbox-icon.mapbox-icon-geocoder { background-position:0 -120px; }
  .mapbox-icon.mapbox-icon-facebook { background-position:0 -104px; }
  .mapbox-icon.mapbox-icon-twitter  { background-position:0 -130px; }

@media
  only screen and (-webkit-min-device-pixel-ratio:2),
  only screen and (min-device-pixel-ratio:2) {
    background:transparent url(./images/icons-404040@2x.png) no-repeat 0 0;
    }
}

.mapbox-share-popup,
.map-legends,
.map-tooltip {
  -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.15);
          box-shadow:0 1px 2px rgba(0,0,0,0.15);
  -webkit-border-radius:3px;
          border-radius:3px;
  }

.map-legends {
  background:#fff;
  border:1px solid #bbb;
  }
  .map-legends .map-legend {
    padding:10px;
    }

.map-tooltip {
  background:#fff;
  border:1px solid #bbb;
  color:#222;
  font:normal 13px/20px Arial,sans-serif;
  z-index:999999;
  padding:10px;
  max-width:300px;
  opacity:1;

  min-width:180px;
  max-width:280px;
  max-height:400px;

  overflow:auto;
  width:220px\8; /*< IE 9*/

  -webkit-transition:opacity 150ms;
     -moz-transition:opacity 150ms;
       -o-transition:opacity 150ms;
          transition:opacity 150ms;
  }

.map-tooltip .close {
  background:transparent url(./icon-404040.png) no-repeat 0 0;
  background-size:30px 240px;
  text-indent:-999em;
  overflow:hidden;
  display:none;
  }
  .map-tooltip.closable .close {
    position:absolute;
    top:0;
    right:0;
    width:30px;
    height:30px;
    display:block;
    -webkit-border-radius:3px;
            border-radius:3px;
    }
    .map-tooltip.closable .close:active  {
      border-color:#b0b0b0;
      background-color:#f0f0f0;
      }

.map-tooltip small { font-size:12px; line-height:20px; }

.map-tooltip h1,
.map-tooltip h2,
.map-tooltip h3,
.map-tooltip h4,
.map-tooltip h5,
.map-tooltip h6 { font-size:16px; }

.map-tooltip h1,
.map-tooltip h2,
.map-tooltip h3,
.map-tooltip h4,
.map-tooltip h5,
.map-tooltip h6,
.map-tooltip p { margin:0 0 10px; }

.leaflet-control-interaction {
  position:absolute;
  top:10px;
  right:10px;
  width:300px;
  }
.leaflet-popup-content .marker-title {
  font-weight:bold;
  line-height:2em;
  }
.leaflet-control .mapbox-button {
  background-color:#fff;
  border:1px solid #bbb;
  font-weight:bold;
  padding:5px 8px;
  -webkit-border-radius:3px;
          border-radius:3px;
  }
  .leaflet-control .mapbox-button:hover {
    background-color:#F4F4F4;
    cursor:pointer;
    }

.leaflet-popup a,
.map-tooltip a,
.map-legend a {
  color:#489;
  text-decoration:none;
  }

.mapbox-share-popup {
  background:#fff;
  padding:20px;
  z-index:1000;
  }
.mapbox-share-buttons {
  border-bottom:1px solid #e2e2e2;
  margin-bottom:10px;
  padding:15px 0;
  clear:both;
  }
.mapbox-share-buttons a {
  display:inline-block;
  font-weight:bold;
  height:30px;
  line-height:30px;
  padding-left:30px;
  text-decoration:none;
  width:48%;
  -webkit-border-radius:3px;
          border-radius:3px;
  }
.mapbox-share-buttons a.mapbox-share-facebook {
  background-color:#3B5998;
  color:#fff;
  margin-right:4%;
  }
  .mapbox-share-buttons a.mapbox-share-facebook:hover {
    background-color: #466EB2;
    }

.mapbox-share-buttons a.mapbox-share-twitter {
  background-color:#4099FF;
  color:#fff;
  }
.mapbox-share-buttons a.mapbox-share-twitter:hover {
  background-color: #64B2FF;
  }

.mapbox-share-popup h3 {
  margin:0;
  }
.mapbox-share-popup small {
  color:#666;
  }
.mapbox-share-popup textarea {
  width:100%;
  height:50px;
  }

/* Light Theme (default)
------------------------------------------------------- */
.leaflet-control-mapbox-geocoder {
  position:relative;
  }
.leaflet-control-mapbox-geocoder.searching:before {
  background:#cccccc;
  background:rgba(224,224,224,0.5);
  content:'';
  position:absolute;
  left:0;
  top:0;
  right:0;
  bottom:0;
  z-index:100;
  }
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-wrap {
    background:#fff;
    position:absolute;
    border:1px solid #ccc;
    overflow:hidden;
    top:0px;
    left:30px;
    width:0;
    height:30px;
    opacity:0;
    -webkit-transition:width 100ms;
       -moz-transition:width 100ms;
         -o-transition:width 100ms;
            transition:width 100ms;
  }
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-wrap {
  width:180px;
  border-left:0;
  opacity:1;
  -webkit-border-radius:0 3px 3px 0;
          border-radius:0 3px 3px 0;
  }
.leaflet-bar .leaflet-control-mapbox-geocoder-toggle,
.leaflet-bar .leaflet-control-mapbox-geocoder-toggle:hover {
  border-bottom:none;
  }
.leaflet-control-mapbox-geocoder-toggle {
  -webkit-border-radius:2px;
          border-radius:2px;
  }
.leaflet-control-mapbox-geocoder.active,
.leaflet-control-mapbox-geocoder.active .leaflet-control-mapbox-geocoder-toggle {
  -webkit-border-top-right-radius:0;
          border-top-right-radius:0;
  -webkit-border-bottom-right-radius:0;
          border-bottom-right-radius:0;
  }
.leaflet-control-mapbox-geocoder .leaflet-control-mapbox-geocoder-form input {
  border:0;
  width:175px;
  padding-left:10px;
  height:26px;
  outline: none;
  }

.leaflet-control-mapbox-geocoder .mapbox-geocoder-toggle {
  position:absolute;
  top:0;
  left:0;
  }
.leaflet-control-mapbox-geocoder input:focus {
  border-color:#888;
  }
.leaflet-control-mapbox-geocoder-results {
  position:absolute;
  left:26px;
  top:26px;
  }
.leaflet-control-mapbox-geocoder-results a,
.leaflet-control-mapbox-geocoder-results span,
.leaflet-control-mapbox-geocoder-results a:hover {
  width:180px;
  padding:0 10px;
  text-overflow:ellipsis;
  border:1px solid #ccc;
  border-top:0;
  white-space:nowrap;
  display:block;
  background:#fff;
  line-height:30px;
  overflow:hidden;
  text-align:center;
  }
.leaflet-control-mapbox-geocoder-results a:hover {
  background:#eee;
  }
.leaflet-control-mapbox-geocoder-results a:last-child,
.leaflet-control-mapbox-geocoder-results span:last-child {
  border-bottom:1px solid #ccc;
  }

/* Dark Theme
------------------------------------------------------- */
.leaflet-container.dark .leaflet-bar {
  border-color:#000;
  }
.leaflet-container.dark .leaflet-bar a,
.leaflet-container.dark .leaflet-control .mapbox-button {
  background-color:#404040;
  color:#fff;
  border-color:#000;
  }
.leaflet-container.dark .leaflet-bar a:hover,
.leaflet-container.dark .leaflet-control .mapbox-button:hover {
  background-color: #565656;
  }
.leaflet-container.dark .leaflet-bar a:active,
.leaflet-container.dark .leaflet-control .mapbox-button:active {
  background-color:#6B6B6B;
  }
.leaflet-container.dark .leaflet-bar a.leaflet-disabled,
.leaflet-container.dark .leaflet-control .mapbox-button.disabled {
  background-color:#252525;
  color:#404040;
  }
.leaflet-container.dark .leaflet-control-mapbox-geocoder input[type=text] {
  background-color:#565656;
  border-color:#000;
  color:#fff;
  }
.leaflet-container.dark .leaflet-control-mapbox-geocoder input:focus {
  border-color:#ccc;
  }

/* Browser Fixes
------------------------------------------------------- */
/* Map is broken in FF if you have max-width: 100% on tiles */
.leaflet-container img { max-width: none !important; }
/* Stupid Android 2 doesn't understand "max-width: none" properly */
.leaflet-container img.leaflet-image-layer { max-width:15000px!important; }
/* Android chrome makes tiles disappear without this */
.leaflet-tile-container img { -webkit-backface-visibility: hidden; }
/* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
.leaflet-overlay-pane svg { -moz-user-select: none; }

