---
layout: default
section: developers
class: box
---
<style>
.depth-1, .depth-2, .depth-3, .depth-4 { margin-bottom:40px; }

#docs h2 { font-weight:bold; }
#docs h4 {
  font-size:15px;
  margin-bottom:10px;
  }
#docs strong {
  font-weight:normal;
  font-style:italic;
  }

.doc-search input {
  width:95%;
  height:40px;
  padding:10px 40px 10px 8px;
  }
  .doc-search span {
    position:absolute;
    top:10px;
    right:10%;
    margin-right:10px;
    }

.doc-nav .nav li.active a {
  background-color:#ecf5fa;
  color:#3C4E5A;
  }

#docs p,
#docs ul { margin-bottom:5px; }

span.args,
span.bracket { color:#888; }

#docs .args,
#docs .bracket {
  font-weight:normal;
  margin:0 2px;
  }

.warn {
  font-size:15px;
  background:#ee8a65;
  border-color:#c64;
  min-height:60px;
  color:white;
  }
  .warn a {
    color:#842;
    font-weight:bold;
    }

.separator {
  margin:0 0 20px;
  font-size:24px;
  line-height:1.2500em;
  }

.doc-nav li h4 { margin:10px 0 0; }
.doc-footer {
  border-top:1px solid #ccc;
  border-left:1px solid #ccc;
  text-align:center;
  }

@media only screen and (max-width: 640px) {
  .doc-footer {
    border-left:none;
  }
}
</style>

<div class='clearfix doc-header pad3 fillL'>
  <div class='cell8'>
    <h2>
      {{site.title}}
      <span class='version'>{% if page.version %}{{page.version}}{% else %}{{site.version}}{% endif %}</span>
    </h2>
    <p>{{site.description}}</p>
  </div>
  <ul class='cell4 doc-subnav clearfix'>
    <li><a href='{{site.baseurl}}/api/' class='active'>API</a></li>
    <li><a href='{{site.baseurl}}/examples/'>Examples</a></li>
    <li><a href='{{site.baseurl}}/changelog/'>Changelog</a></li>
  </ul>
</div>

<div class='doc-page pad3c fillM clearfix'>
<div class='fillW clearfix'>
  <div class='cell3'>
    <div class='doc-nav'>
      <form class='doc-search'>
        <input type='text' placeholder='Filter methods'>
        <span class='icon search'></span>
      </form>
      {% if page.navigation %}
      <ul class='nav anchors'>
      {% for section in page.navigation %}
        <li class='heading'><a href='#{{section.title|downcase|replace:' ','_'}}'>{{section.title}}</a></li>
        {% for item in section.items %}
          {% if item.Separator %}
          <li class='parent'><a href='#{{item.Separator|replace:' ','_'}}'>{{item.Separator}}</a></li>
          {% else %}
          <li><a href='#{{item|replace:' ','_'}}'>{{item}}</a></li>
          {% endif %}
        {% endfor %}
      {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
  <div class='cell9'>
  {% if site.version != page.version %}
  <div class='doc-content doc pad2 warn'>
    Viewing an older version of {{site.title}}. Check out <a href='{{site.baseurl}}/api/{{site.version}}'>{{site.version}} for the latest</a>.
  </div>
  {% endif %}
  <div id='docs' class='doc-content prose'>
    <div class='doc pad2'>
      {{content}}
    </div>
    <div class='doc-footer'>
      <div class='pad2'>
        The code and documentation to <a href='http://github.com/mapbox/mapbox.js'>mapbox.js is hosted on GitHub</a> where you can contribute changes and improvements.
      </div>
    </div>
  </div>
  </div>
</div>
</div>

{% include developers-footer.html %}

<script>
  $(function() {
    var docs = new Docs();
    docs.colorCode();
    docs.bindSearch($('.doc-search input'), $('.doc-nav ul'), true);
    docs.bindInlineCode();
    $(mapbox.docs);
  });
</script>
