---
layout: default
section: developers
---

{% include header.html %}

<div class='col10 margin1 round box clearfix contain'>

  <div class='keyline-bottom clearfix'>
    <nav id='docs-nav' class='pill mobile-cols col12 pad2 clearfix'>
      {% if page.version contains "v1" %}
        <a href='{{site.baseurl}}/api/{{page.version}}' class='col3 margin3 button active'>API</a><a href='{{site.baseurl}}/example/v1.0.0/' class='col3 button'>Examples</a>{% else %}<a href='{{site.baseurl}}/api/{{page.version}}' class='col4 button active'>API</a><a href='{{site.baseurl}}/example/v0.6.7/' class='col3 button'>Examples</a>{% endif %}
    </nav>
  </div>

  {% if site.version != page.version %}
  <div class='warning note keyline-bottom'>
    Viewing an older version of {{site.title}}. Check out <a href='{{site.baseurl}}/api/{{site.version}}'>{{site.version}} for the latest</a>.
  </div>
  {% endif %}

  <div class='clearfix'>
    <div class='col12 keyline-bottom'>
      <div class='doc-nav contain clearfix'>
        <nav class='col3 pad2'>
          <h4 class='small quiet'>Introduction</h4>
          {% for intro in site.categories.introduction %}
            {% for n in intro.navigation %}
              <a class='heading col12 pad1y strong quiet' href='#{{n.title|replace:' ','_'|replace:'&',''|replace:'.',''|downcase}}'>{{n.title}}</a>
              {% for i in n.items %}
                <a class='small col12 quiet truncate' href='#{{i|replace:' ','_'|replace:'&',''|replace:'.',''|downcase}}'>{{i}}</a>
              {% endfor %}
            {% endfor %}
          {% endfor %}
        </nav>

        <div class='col9 clearfix pad1x pad2y keyline-left'>
          <h4 class='small quiet pad1x'>API</h4>
          {% for section in page.navigation %}
            <nav class='col3 pad1x'>
              <a class='heading col12 pad1y quiet strong' href='#section-{{section.title|replace:' ',' '|downcase}}'>{{section.title}}</a>
              {% for nav in section.nav %}
                <a class='col12 truncate small quiet strong' href='#{{nav.title|replace:' ','_'}}'>{{nav.title}}</a>
                <nav class='doc-sub-nav'>
                {% for sub in nav.sub %}
                  <a class='col12 truncate quiet small' href='#{{sub|replace:' ','_'}}'>{{sub}}</a>
                {% endfor %}
                </nav>
              {% endfor %}
            </nav>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class='col12'>
      <div id='docs' class='doc-content prose'>
        <div class='pad2 keyline-bottom'>
          {% for item in site.categories.introduction %}
            {{item.content}}
          {% endfor %}
        </div>
        <div class='doc pad2'>
          {{content}}
        </div>
        <div class='keyline-top center small'>
          <div class='pad2'>
            The code and documentation to <a href='http://github.com/mapbox/mapbox.js'>mapbox.js is hosted on GitHub</a> where you can contribute changes and improvements.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include developers-footer.html %}

<script>
  $(function() {
    var docs = new Docs();
    docs.colorCode();
    docs.bindInlineCode();
  });
</script>
