<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <meta name='twitter:site' content='@Mapbox' />
  <meta property='og:site_name' content='Mapbox' />
  <meta name='twitter:url' content='{{page.permalink}}' />
  <meta property='og:url' content='{{page.permalink}}' />
  <meta name='twitter:title' content='{{page.title | replace:"'","&lsquo;"}}' />
  <meta property='og:title' content='{{page.title | replace:"'","&lsquo;"}}' />

  <title>{{page.title}} | Mapbox</title>
  <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
  <link href='{{site.url}}/css/site.css' rel='stylesheet' />
  <!--[if IE 9]><link href='{{site.url}}/css/site-ie9.css' rel='stylesheet' /><![endif]-->
  <link rel='shortcut icon' href='{{site.url}}/img/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.url}}/blog/blog.rss' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/{% if site.mapboxjs %}{{site.mapboxjs}}{% else %}v1.5.1{% endif %}/mapbox.css' rel='stylesheet' />

  <script src='{{site.api}}/api/session.js'></script>
  <script>
  var analytics=analytics||[];(function(){var e=['identify','track','trackLink','trackForm','trackClick','trackSubmit','page','pageview','ab','alias','ready','group'],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement('script');t.type='text/javascript',t.async=!0,t.src=('https:'===document.location.protocol?'https://':"http://")+'d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/'+e+'/analytics.min.js';var n=document.getElementsByTagName('script')[0];n.parentNode.insertBefore(t,n)};
  analytics.load(window.location.hostname.indexOf('mapbox.com') !== -1 ? 'fl0c8p240n' : '0biiejpgfj');
  </script>

  <script src='https://api.tiles.mapbox.com/mapbox.js/{% if site.mapboxjs %}{{site.mapboxjs}}{% else %}v1.5.1{% endif %}/mapbox.js'></script>
  <script src='{{site.url}}/js/site.js'></script>
  {% if page.head %}{{page.head}}{% endif %}

  <link href='{{site.baseurl}}/assets/css/site.css' rel='stylesheet' />
  <script src='{{site.baseurl}}/assets/js/prettify.js'></script>
  <script src='{{site.baseurl}}/assets/js/site.js'></script>
</head>
<body>

<div class='hide-mobile col3 pad1 fixed-sidebar pin-left'>
  <div class='col12 clearfix keyline-all quiet-scroll'>
    <div class='pad2x'>
      <h2><a class='inline' href='{{site.baseurl}}/'>{{site.title}}</a><a class='version' href='https://github.com/mapbox/mapbox.js/blob/master/CHANGELOG.md#{{site.mapboxjs|replace:'.', ''}}'>
        {% if page.v0 %}
          <sup class='fill-yellow small'>{{site.oldversion}}</sup>
        {% elsif page.version %}
          {% if page.category == 'examples' %}
            <sup class='fill-darken0 small'>{{site.mapboxjs}}</sup>
          {% else %}
            <sup class='fill-darken0 small'>{{page.version}}</sup>
          {% endif %}
        {% else %}
          <sup class='fill-darken0 small'>{{site.mapboxjs}}</sup>
        {% endif %}
        </a>
      </h2>
    </div>

    <div class='anchor-search pad2'>
      <fieldset class='with-icon'>
        <span class='icon search'></span>
        <input id='filter' type='text' class='round col12' placeholder='Filter'>
      </fieldset>
    </div>

    <nav class='navigation'>
      {% for section in page.navigation %}
        <a class='col12 pad1y pad2x strong {% if page.url contains section.id %} active{% endif %}' href='{{site.baseurl}}/api/{{page.version}}/{{section.id}}'>{{section.title}}</a>
        {% for nav in section.nav %}
          <a class='col12 sub truncate' href='{{site.baseurl}}/api/{{page.version}}/{{section.id}}#{{nav.title|replace:' ','_'|downcase}}'>{{nav.title}}</a>
          {% if nav.sub %}
            {% for sub in nav.sub %}
              <a class='col12 truncate pad2x small quiet' href='{{site.baseurl}}/api/{{page.version}}/{{section.id}}#{{sub|replace:' ','_'|downcase}}'>{{sub}}</a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}

      {% for item in page.examples %}
      <div class='section'>
        <strong class='col12 pad1y pad2x'>{{item.name}}</strong>
        {% for example in site.tags[item.id] order:ascending %}
          {% if example.version == 'v1.0.0' %}
            <a href='{{site.baseurl}}{{example.url}}' class='col12 example sub truncate {% if example.title == page.title %} active{% endif %}'>{{example.title}}</a>
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </nav>
  </div>
</div>

<div class='limiter clearfix'>
  <div class='margin3 col9'>
    {% include nav.html %}
    {{content}}
  </div>
</div>

<script>
  function load() {
    var docs = new Docs();
    $(docs.copyCode);

    {% if page.v0 %}
      docs.colorCode(function(){ docs.bindHints('{{ site.oldversion }}'); });
    {% endif %}

    docs.bindSearch($('#filter'), $('.navigation'));
  }

  $(load);
</script>

</body>
</html>
