---
navigation:
  - title: Tour
    category: tour
    path: /tour
  - title: Showcase
    category: showcase
    class: showcase
    path: /showcase
  - title: Blog
    category: blog
    path: /blog
  - title: Plans
    category: plans
    class: plans
    path: /plans
footer:
  mapbox:
    - title: Tour
      path: /tour
    - title: About
      path: /about
    - title: Plans
      path: /plans
    - title: Premium
      path: /plans/premium
    - title: Blog
      path: /blog
    - title: Status
      path: http://mapbox.com/status
  resources:
    - title: Help
      path: /help
    - title: Developers
      path: /developers
    - title: Mobile
      path: /mobile
    - title: Showcase
      path: /showcase
  tools:
    - title: TileMill
      path: /tilemill
    - title: Maki
      path: /maki
---
<!DOCTYPE html >
<html>
<head>
  <script src="//cdn.optimizely.com/js/161469907.js"></script>
  <meta charset='UTF-8'/>
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  {% if page.description %}<meta name='description' content='{{page.description | strip_html}}'/>{% endif %}
  <title>mapbox.js {{page.title}} | MapBox</title>
  <link href='//api.tiles.mapbox.com/mapbox.js/{{site.version}}/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/{{site.version}}/mapbox.ie.css' rel='stylesheet' />
  <![endif]-->
  <!--[if IE]><link rel='stylesheet' href='{{site.url}}/css/site-ie.css' type='text/css'/><![endif]-->
  <link rel='shortcut icon' href='{{site.url}}/img/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.url}}/blog/blog.rss' />
  <link href='//mapbox.com/base/latest/base.css' rel='stylesheet' />

  <script src='//api.tiles.mapbox.com/mapbox.js/{{site.version}}/mapbox.uncompressed.js'></script>
  <script src='{{site.url}}/js/site.js'></script>
  <script src='{{site.baseurl}}/assets/js/prettify.js'></script>
  <script src='{{site.baseurl}}/assets/js/site.js'></script>
</head>
<body class='{{page.class}}'>

<div class='branding pad4x clearfix'>
  <div class='col3'>
    <a id='mapbox-logo' class='logo' href='{{site.url}}/' onclick='window.location=(window.mapboxHome||"{{site.url}}/"); return false;'>MapBox</a>
  </div>
  <ul class='menu col6'>
    {% for item in page.navigation %}
      {% capture url %}{{site.url}}{{item.path}}/{% endcapture %}
    {% if item.category contains page.category or item.category contains page.section or item.path == page.url %}
      {% capture class %}{{item.class}} active{% endcapture %}
    {% else %}
      {% capture class %}{{item.class}}{% endcapture %}
    {% endif %}
    <li class='{{class}}'>
      <a id='nav-{{item.title | downcase | replace:' ','-'}}' href='{{url}}'>{{item.title}}</a>
    </li>
    {% endfor %}
  </ul>
</div>

{{content}}

{% unless page.class contains 'fullscreen' %}
<div class='footer fill-light clearfix small'>
  <div class='col3 pad4 newsletter'>
    <a class='button icon twitter' href='http://twitter.com/mapbox' target='_blank'>Follow us</a>
    <a class='button icon contact' href='{{base}}/contact'>Contact us</a>

    <small>Subscribe to our newsletter</small>
    <!-- Begin MailChimp Signup Form -->
    <div id='mc-signup'>
      <form action='http://mapbox.us2.list-manage1.com/subscribe/post?u=1b29ad842d113cece02035883&amp;id=6cbe531fd0' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank'>
        <div class='mc-field-group clearfix'>
          <input type='hidden' value='1' name='group[7417][2]'>
          <div class='field-wrapper'><input type='text' value='' placeholder='Email Address' name='EMAIL' class='required email' id='mce-EMAIL'></div>
          <input type='submit' value='' name='subscribe' id='mc-embedded-subscribe' class='button icon mail'>
        </div>
        <div id='mce-responses'>
          <div class='response' id='mce-error-response' style='display:none'></div>
          <div class='response' id='mce-success-response' style='display:none'></div>
        </div>
      </form>
    </div>
  </div>

  <div class='col2 pad4'>
    <h3 class='title'>MapBox</h3>
    <p class='links'>
      {% for item in page.footer.mapbox %}
      <a id='footer-{{item.title | downcase | replace:' ','-'}}' href='{{site.url}}{{item.path}}/'>{{item.title}}</a>
      {% endfor %}
    </p>
  </div>
  <div class='col2 pad4'>
    <h3 class='title'>Resources</h3>
    <p class='links'>
      {% for item in page.footer.resources %}
      <a id='footer-{{item.title | downcase | replace:' ','-'}}' href='{{site.url}}{{item.path}}/'>{{item.title}}</a>
      {% endfor %}
    </p>
    <h3 class='title'>Tools</h3>
    <p class='links'>
      {% for item in page.footer.tools %}
      <a id='footer-{{item.title | downcase | replace:' ','-'}}' href='{{site.url}}{{item.path}}/'>{{item.title}}</a>
      {% endfor %}
    </p>
  </div>
  <div class='col5 pad4 blogposts'>
    <h3 class='title'>Recent blog posts</h3>
    <p class='links'>
      <script src='https://mapbox.com/snippets/blog-list.js'></script>
    </p>
    <a id='read-more' href='{{site.url}}/blog/' class='rcon next'>Read more</a>
  </div>
</div>

<div class='footer-copyright dark fill-denim center pad2 small'>
  <a href='{{base}}/tos'>Terms of service</a> +
  <a href='{{base}}/privacy'>Privacy policy</a>
  &copy; MapBox
</div>
{% endunless %}

<script src='https://tiles.mapbox.com/snippets/user.js'></script>

<script>
var _gaq = _gaq || [];
var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
_gaq.push(['_require', 'inpage_linkid', pluginUrl]);
_gaq.push(['_setAccount', 'UA-12158002-1']);
_gaq.push(['_setDomainName', '.mapbox.com']);
_gaq.push(['_trackPageview']);
(function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

var _gauges = _gauges || [];
(function() {
  var t   = document.createElement('script');
  t.type  = 'text/javascript';
  t.async = true;
  t.id    = 'gauges-tracker';
  t.setAttribute('data-site-id', '4e970faef5a1f51def000002');
  t.src = '//secure.gaug.es/track.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(t, s);
})();

setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0013/6714.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>

</body>
</html>
