---
examples:
- id: animation
  name: Animation
- id: geocoding
  name: Geocoding
- id: handlers
  name: Handlers
- id: layers
  name: Layers
- id: legend
  name: Legend
- id: markers
  name: Markers
- id: plugins
  name: Plugins
- id: tooltips
  name: Tooltips
- id: ui
  name: User Interface
- id: vector
  name: Vector Overlays
- id: zoom
  name: Zoom
---

<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <meta name='robots' content='{% if page.hidden %}noindex{% else %}index{% endif %}'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

  <meta name='twitter:site' content='@Mapbox' />
  <meta property='og:site_name' content='Mapbox' />
  <meta name='twitter:url' content='{{page.permalink}}' />
  <meta property='og:url' content='{{page.permalink}}' />
  <meta name='twitter:title' content='{{page.title | replace:"'","&lsquo;"}}' />
  <meta property='og:title' content='{{page.title | replace:"'","&lsquo;"}}' />
  <title>{{page.title}} | Mapbox</title>
  <link href='https://www.mapbox.com/base/latest/base.css' rel='stylesheet' />
  <link href='{{site.url}}/css/site.css' rel='stylesheet' />
  <!--[if IE 9]><link href='{{site.url}}/css/site-ie9.css' rel='stylesheet' /><![endif]-->
  <link rel='shortcut icon' href='{{site.url}}/img/favicon.ico' type='image/x-icon' />
  <link rel='alternate' type='application/rss+xml' title='RSS' href='{{site.url}}/blog/blog.rss' />
  <link href='https://api.tiles.mapbox.com/mapbox.js/{% if site.mapboxjs %}{{site.mapboxjs}}{% else %}v1.5.1{% endif %}/mapbox.css' rel='stylesheet' />

  <script src='{{site.api}}/api/session.js'></script>
  <script src='https://js.stripe.com/v2/'></script>
  <script>
  var KM_COOKIE_DOMAIN = 'www.mapbox.com';
  var analytics=analytics||[];(function(){var e=['identify','track','trackLink','trackForm','trackClick','trackSubmit','page','pageview','ab','alias','ready','group'],t=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var n=0;n<e.length;n++)analytics[e[n]]=t(e[n])})(),analytics.load=function(e){var t=document.createElement('script');t.type='text/javascript',t.async=!0,t.src=('https:'===document.location.protocol?'https://':"http://")+'d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/'+e+'/analytics.min.js';var n=document.getElementsByTagName('script')[0];n.parentNode.insertBefore(t,n)};
  analytics.load(window.location.hostname.indexOf('mapbox.com') !== -1 ? 'fl0c8p240n' : '0biiejpgfj');
  </script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/{% if site.mapboxjs %}{{site.mapboxjs}}{% else %}v1.5.1{% endif %}/mapbox.js'></script>
  <script src='{{site.url}}/js/api.js'></script>
  <script src='{{site.url}}/js/libs.js'></script>
  <script src='{{site.url}}/js/site.js'></script>
  <link href='{{site.baseurl}}/assets/css/site.css' rel='stylesheet' />
  <script src='{{site.baseurl}}/assets/js/prettify.js'></script>
  <script src='{{site.baseurl}}/assets/js/site.js'></script>
</head>
<body>

{% capture api %}
{% if page.v0 %}v0.6.7{% else %}{{site.mapboxjs}}{% endif %}
{% endcapture %}

{% capture examples %}
{% if page.v0 %}v0.6.7{% else %}v1.0.0{% endif %}
{% endcapture %}

{% if page.intro %}
{% include site.introduction.html %}
{% endif %}

<!--Fixed sidebar navigation-->
<div class='hide-mobile col3 fixed-sidebar round fill-grey clip'>

  <div class='row1 mast keyline-bottom col12'>
    <a href='{{site.url}}' id='avatar' class='pin-left pad2 fl inline'></a>
    <nav class='js-tabs fl small strong col12 clearfix center'>
      <a href='#api-menu' class='col4 pad1 truncate keyline-left quiet {% if page.url contains "api" %}active{% endif %}'>API</a>
      <a href='#examples-menu' class='col4 pad1 truncate keyline-left quiet {% if page.url contains "example" %}active{% endif %}'>Examples</a>
      <a href='{% if page.url contains "plugins" %}{{site.baseurl}}/#plugins-menu{% else %}{{site.baseurl}}/plugins{% endif %}' class='col4 pad1 truncate keyline-left quiet {% if page.url contains "plugins" %}active{% endif %}'>Plugins</a>
    </nav>
  </div>

  <div class='row1 pad2x pad1y'>
    <a href='{{site.baseurl}}/' class='version'>
      {{site.title}}
      {% if page.v0 %}
      <span class='fill-yellow strong small'>{{site.oldversion}}</span>
      {% elsif page.version %}
        {% if page.category == 'examples' %}
          <span class='strong small'>{{site.mapboxjs}}</span>
        {% else %}
          <span class='strong small'>{{page.version}}</span>
        {% endif %}
      {% else %}
        <span class='strong small'>{{site.mapboxjs}}</span>
      {% endif %}
    </a>
  </div>

  <div class='sliding h col12 clip {% if page.url contains "example" %}active2{% else %}active1{% endif %}'>
    <div id='api-menu' class='col12 animate full-y'>
      <div class='pad2x row1 space-bottom2'>
        <fieldset class='with-icon'>
          <a href='{{site.baseurl}}/api/{{page.version}}/all' class='pin-right pad1 pad2x round-right small strong'>View all?</a>
          <span class='icon search'></span>
          <input id='filter-api' type='text' class='round col12' placeholder='Filter documentation'>
        </fieldset>
      </div>

      {% include api.nav.html %}
    </div>

    <div id='examples-menu' class='col12 animate full-y'>
      <div class='pad2x row1 space-bottom2'>
        <fieldset class='with-icon'>
          <span class='icon search'></span>
          <input id='filter-examples' type='text' class='round col12' placeholder='Filter examples'>
          <div class='pin-right view-options pad1'>
            <div class='js-tabs rounded-toggle clearfix'>
              <input id='examples-grid-toggle' type='radio' value='examples-grid' name='examples-menu' checked='checked'>
              <label for='examples-grid-toggle' class='animate'>Grid</label>
              <input id='examples-list-toggle' type='radio' value='examples-list' name='examples-menu'>
              <label for='examples-list-toggle' class='animate'>List</label>
            </div>
          </div>
        </fieldset>
      </div>

      <div class='fill-light sliding h col12 clip active1'>
        <div id='examples-grid' class='full-y quiet-scroll scroll-y animate col12'>
          <div class='clearfix col12 grid-view js-nav-examples'>
            {% for grid in site.categories['example/v1.0.0'] order:ascending %}
            <a href='{{site.baseurl}}{{grid.url}}' style='background-image: url("{{site.baseurl}}/assets/images/test.png");' class='grid col6 row3 contain fill-darken0 example dark strong clip {% if grid.title == page.title %} active{% endif %}'>
              <div class='overlay fill-darken3 pin-left row3 col12 animate keyline-bottom'>
                <div class='pad1'>
                  {{grid.title}}
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>

        <nav id='examples-list' class='navigation v full-y js-nav-examples quiet-scroll scroll-y col12 animate'>
          {% for example in page.examples %}
          <div class='section pad1y'>
            <strong class='col12 pad1y pad2x'>{{example.name}}</strong>
            {% for listing in site.tags[example.id] order:ascending %}
              {% if listing.version == 'v1.0.0' %}
                <a href='{{site.baseurl}}{{listing.url}}' class='pad4x col12 example truncate {% if listing.title == page.title %} active{% endif %}'>{{listing.title}}</a>
              {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </nav>
      </div>
    </div>

    <div id='plugins-menu' class='col12 animate full-y'>
      <nav class='col12 v full-y scroll-y quiet-scroll fill-light pad1y'>
        {% for plugin in site.categories.plugin %}
          <a href='{{plugin.url}}' class='pad1y pad2x'>{{plugin.title}}</a>
        {% endfor %}
      </nav>
    </div>

  </div>
</div>

<!--Content area-->
<div class='limiter clearfix'>
  <div id='content-section' class='col9 margin3 content'>{{content}}</div>
</div>

</body>
</html>
