---
layout: default
fullwidth: true
---

<link href='{{site.baseurl}}/assets/css/site.css' rel='stylesheet' />
<script src='{{site.baseurl}}/assets/js/prettify.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>

<div class='hide-mobile col3 fixed-sidebar quiet-scroll pin-left keyline-right fill-light'>
  <div class='col12 clearfix pad2y'>
    <div class='pad2x'>
      <h2><a href='{{site.baseurl}}/'>{{site.title}}</a><a class='version' href='https://github.com/mapbox/mapbox.js/blob/master/CHANGELOG.md#{{site.mapboxjs|replace:'.', ''}}'>
        {% if page.v0 %}
          <sup class='fill-yellow small'>{{site.oldversion}}</sup>
        {% elsif page.version %}
          {% if page.category == 'examples' %}
            <sup class='fill-darken0 small'>{{site.mapboxjs}}</sup>
          {% else %}
            <sup class='fill-darken0 small'>{{page.version}}</sup>
          {% endif %}
        {% else %}
          <sup class='fill-darken0 small'>{{site.mapboxjs}}</sup>
        {% endif %}
        </a>
      </h2>
      <nav class='tabs mobile-cols col12 clearfix pad2y'>
        {% if page.v0 %}
          <a href='{{site.baseurl}}/api/v0.6.7/' class='col6 {% if page.url contains "api" %}active{% endif %}'>API</a>
          <a href='{{site.baseurl}}/example/v0.6.7/' class='col6 {% if page.url contains "example" %}active{% endif %}'>Examples</a>
        {% else %}
          <a href='{{site.baseurl}}/api/{{site.mapboxjs}}/' class='col6 {% if page.url contains "api" %}active{% endif %}'>API</a>
          <a href='{{site.baseurl}}/example/v1.0.0/' class='col6 {% if page.url contains "example" %}active{% endif %}'>Examples</a>
        {% endif %}
      </nav>
    </div>

    <div class='anchor-search pad2'>
      <fieldset class='with-icon'>
        <span class='icon search'></span>
        <input id='search-filter' type='text' class='stretch' placeholder='Filter'>
      </fieldset>
    </div>

    <nav class='anchors pad2x'>
      {% for section in page.navigation %}
        <a class='col12 pad1y strong' href='#section-{{section.title|replace:' ',' '|downcase}}'>{{section.title}}</a>
        {% for nav in section.nav %}
          <a class='col12 truncate' href='#{{nav.title|replace:' ','_'|downcase}}'>{{nav.title}}</a>

          {% if nav.sub %}
            <div class='pad1y'>
              {% for sub in nav.sub %}
                <a class='col12 truncate small quiet' href='#{{sub|replace:' ','_'|downcase}}'>{{sub}}</a>
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}

      {% for item in page.examples %}
      <div class='section'>
        <strong class='col12 pad1y'>{{item.name}}</strong>
        <div id='{{item.id}}' class='examples examples-{{item.id}}'>
        {% for example in site.tags[item.id] order:ascending %}
          {% if example.version == 'v1.0.0' %}
            <a href='{{site.baseurl}}{{example.url}}' class='col12 truncate {% if example.title == page.title %} active{% endif %}'>{{example.title}}</a>
          {% endif %}
        {% endfor %}
        </div>
      </div>
      {% endfor %}

    </nav>
  </div>
</div>

<div class='margin3 pad4 col8 clearfix'>
{{content}}
</div>


