---
layout: default
section: developers
---

{% include header.html %}

<div class='col12 round keyline-all clearfix contain'>
    <div class='clearfix'>
      {% if page.v0 %}
      <div class='fill-white clearfix ad-v1'>
        <span class='icon reverse star'></span>
        Try <a href='{{site.baseurl}}/example/v1.0.0/'>MapBox.js v1.0.0</a>, built on Leaflet.
      </div>
      {% endif %}

      <div class='fill-white clearfix'>
        <div class='col3'>
          <div class='pad2 keyline-bottom'>
            <fieldset class='search with-icon'>
              <span class='icon search'></span>
              <input id='search-filter' class='stretch' type='text' placeholder='Filter examples'>
            </fieldset>
          </div>
          <nav class='doc-nav keyline-right'>
            {% if page.v0 %}
              {% for item in site.categories['example/v0.6.7'] reversed %}
              <a class='col12 keyline-bottom pad1y pad2x {% if item.url == page.url %} active{% endif %}' href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a>
              {% endfor %}
            {% else %}
              {% for item in site.categories['example/v1.0.0'] reversed %}
              <a class='col12 keyline-bottom pad1y pad2x {% if item.url == page.url %} active{% endif %}' href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a>
              {% endfor %}
            {% endif %}
          </nav>
        </div>

        <div class='col9'>
          <div class='pad2 doc keyline-left example-header'>
            <h3>{{page.title}}</h3>
            <span class='description'>{{page.description}}</span>
          </div>
          <div id='demo' class='doc'>{{content}}</div>
          <div id='snippet' class='doc'>
          <a class='button icon embed' href='#' id='copy'>Select all</a>
          <div id='code' class='doc'>

<div class='code-header'>
{% highlight html %}
<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title></title>
  <script src='//api.tiles.mapbox.com/mapbox.js/{{site.version}}/mapbox.js'></script>
  <link href='//api.tiles.mapbox.com/mapbox.js/{{site.version}}/mapbox.css' rel='stylesheet' />
  {% unless page.v0 %}<!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/{{site.version}}/mapbox.ie.css' rel='stylesheet'>
  <![endif]-->{% endunless %}
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
{% endhighlight %}
</div>

{% highlight html %}
{{content}}
{% endhighlight %}

<div class='code-footer'>
{% highlight html %}
</body>
</html>
{% endhighlight %}
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class='keyline-bottom keyline-left keyline-right col12 pad2 center small'>
  The code and documentation to <a href='http://github.com/mapbox/mapbox.js'>mapbox.js is hosted on GitHub</a> where you can contribute changes and improvements.
</div>

{% include developers-footer.html %}

<script>
  $(document).ready(function () {
    var example = new Docs();
    $(example.page);
    $(example.copyCode);
    {% if page.v0 %}
    example.colorCode(function(){
        example.bindHints("{{ site.oldversion }}");
    });
    {% endif %}
    example.bindSearch($('.search input'), $('.doc-nav'), false);
  });
</script>
