---
layout: default_v1
section: developers
---
<link href='{{site.baseurl}}/assets/css/site.css' rel='stylesheet' />

<div class='clearfix doc-header fill-light'>
  <div class='col12 pad4x contain'>
    <a class='tag pad1y2x fill-darken0' href='{{site.url}}/{{page.section|downcase}}'>{{page.section}}</a>
  </div>

  <div class='pad4 clearfix'>
      <div class='col8'>
        <h2>
          {{site.title}}
          <span class='version'>{{site.version}}</span>
        </h2>
        <p>{{site.description}}</p>
      </div>
      <nav class='col4 pill clearfix'>
        <a class='col4 button' href='{{site.baseurl}}/api/'>API</a><a class='col4 button active' href='{{site.baseurl}}/example/v1.0.0/'>Examples</a><a class='col4 button' href='{{site.baseurl}}/changelog/'>Changelog</a>
      </nav>
    </div>

    <div class='doc-page pad4c fill-grey clearfix'>
      <div class='fill-white clearfix'>
        <div class='col3 keyline-right'>
          <div class='doc-nav'>
            <form class='doc-search contain pad2'>
              <fieldset class='with-icon'>
                <span class='icon search'></span>
                <input class='stretch' type='text' placeholder='Filter examples'>
              </fieldset>
            </form>
            <nav class='v small'>
              {% for item in site.categories['example/v1.0.0'] reversed %}
              <a class='pad1y2x {% if item.url == page.url %} active{% endif %}' href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a>
              {% endfor %}
            </nav>
          </div>
        </div>
        <div class='col9'>
          <div class='pad2 doc example-header'>
            <h3>{{page.title}}</h3>
            <span class='description'>{{page.description}}</span>
          </div>
          <div id='demo' class='doc'>{{content}}</div>
          <div id='snippet' class='doc'>
          <a class='button icon embed' href='#' id='copy'>Select all</a>
          <div id='code' class='doc'>

<div class='code-header'>
{% highlight html %}
<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title></title>
  <script src='//api.tiles.mapbox.com/mapbox.js/{{site.version}}/mapbox.js'></script>
  <link href='//api.tiles.mapbox.com/mapbox.js/{{site.version}}/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='//api.tiles.mapbox.com/mapbox.js/{{site.version}}/mapbox.ie.css' rel='stylesheet'>
  <![endif]-->
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }
  </style>
</head>
<body>
{% endhighlight %}
</div>

{% highlight html %}
{{content}}
{% endhighlight %}

<div class='code-footer'>
{% highlight html %}
</body>
</html>
{% endhighlight %}
</div>
          </div>
          </div>
          <div class='keyline-top center small'>
            <div class='pad2'>
              The code and documentation to <a href='http://github.com/mapbox/mapbox.js'>mapbox.js is hosted on GitHub</a> where you can contribute changes and improvements.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include developers-footer.html %}

<script>
  $(document).ready(function () {
    var example = new Docs();
    $(example.page);
    $(example.copyCode);
    example.bindSearch($('.doc-search input'), $('nav.v'), false);
  });
</script>
