---
layout: default
fullwidth: true
examples:
  - id: animation
    name: Animation
  - id: geocoding
    name: Geocoding
  - id: handlers
    name: Handlers
  - id: layers
    name: Layers
  - id: leaflet
    name: Leaflet
  - id: legend
    name: Legend
  - id: markers
    name: Markers
  - id: plugins
    name: Plugins
  - id: tooltips
    name: Tooltips
  - id: ui
    name: User Interface
  - id: vector
    name: Vector Overlays
  - id: zoom
    name: Zoom
head: |
  <style>
    div.footer,
    div.footer-copyright { display:none; }
  </style>
---

<link href='{{site.baseurl}}/assets/css/site.css' rel='stylesheet' />
<script src='{{site.baseurl}}/assets/js/prettify.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>

{% include site.nav.html %}

{% capture api %}
{% if page.v0 %}v0.6.7{% else %}{{site.mapboxjs}}{% endif %}
{% endcapture %}

{% capture examples %}
{% if page.v0 %}v0.6.7{% else %}v1.0.0{% endif %}
{% endcapture %}

<!--Mobile menu-->
{% if page.categories contains 'api' or page.url contains 'example' %}
<div id='dropdown' class='show-mobile clearfix contain space-bottom4'>
  <div class='menu pad4x pad2y row1 keyline-top keyline-bottom clearfix mobile-cols'>
    <h3 class='small col6'>Sub Menu</h3>
    <div class='col6 text-right'>
      <a href='#dropdown' class='icon menu quiet pad1'></a>
    </div>
  </div>
  <div class='sub-dropdown keyline-bottom keyline-left keyline-right round'>
    <div class='pin-right close-sub-dropdown'>
      <a href='#' class='icon x quiet pad1 inline fill-grey'></a>
    </div>
    <div class='contents contain'>
      {% if page.categories contains 'api' %}
      {% include api.nav.html %}
      {% endif %}

      {% if page.url contains 'example' %}
        <nav class='navigation v pad1y keyline-bottom js-nav-docs fill-y scroll-y scroll-styled'>
          {% for example in page.examples %}
          <div class='section space-bottom1'>
            <strong class='col12 sub'>{{example.name}}</strong>
            {% for listing in site.tags[example.id] order:ascending %}
              {% if listing.version == 'v1.0.0' %}
              <a href='{{site.baseurl}}{{listing.url}}' title='{{listing.title}}' class='sub col12 example truncate {% if listing.title == page.title %} active{% endif %}'>{{listing.title}}</a>
              {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

<!--Content area-->
<div class='limiter clearfix contain'>
  <div class='hide-mobile col3 docs-sidebar round clip fill-light'>
    <div class='col12 full-y'>
      {% if page.categories contains 'api' %}
      <div id='api-menu' class='col12 animate full-y'>
        <div class='pad2 row2'>
          <fieldset class='with-icon'>
            <a href='{{site.baseurl}}/api/{{page.version}}/all' class='pin-right pad1 round-right small view-all fill-white strong'>View all?</a>
            <span class='icon search'></span>
            <input id='filter-api' type='text' class='round col12' placeholder='Filter API'>
          </fieldset>
        </div>
        {% include api.nav.html %}
      </div>
      {% endif %}

      {% if page.url contains 'example' %}
      <div id='examples-menu' class='col12 animate full-y'>
        <div class='pad2 row2'>
          <fieldset class='with-icon'>
            <span class='icon search'></span>
            <input id='filter-examples' type='text' class='round col12' placeholder='Filter examples'>
          </fieldset>
        </div>

        <nav id='examples-list' class='keyline-top pad1y navigation v fill-light full-y js-nav-examples scroll-styled scroll-y col12 animate'>
          {% for example in page.examples %}
          <div class='section space-bottom1'>
            <strong class='col12 sub'>{{example.name}}</strong>
            {% for listing in site.tags[example.id] order:ascending %}
              {% if listing.version == 'v1.0.0' %}
                <a href='{{site.baseurl}}{{listing.url}}' class='sub col12 example truncate {% if listing.title == page.title %} active{% endif %}'>{{listing.title}}</a>
              {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </nav>
      </div>
      {% endif %}

      {% if page.url contains 'plugins' %}
      <div id='plugins-menu' class='col12 animate full-y'>
        <div class='pad2 keyline-bottom prose'>
          <strong>Mapbox.js Plugins</strong>
          <p class='quiet'>
            Plugins extend Mapbox.js with layers, interactions,
            and stuff that make maps awesome.
          </p>
        </div>
        <nav class='navigation col12 v full-y scroll-y scroll-styled pad1y'>
          {% for plugin in site.categories.plugin %}
            <a href='{{site.baseurl}}/plugins/#{{plugin.prefix}}' class='sub'>{{plugin.title}}</a>
          {% endfor %}
        </nav>
      </div>
      {% endif %}
    </div>
  </div>

  <div id='content-section' class='col9 margin3'>
    <div class='margin0'>{{content}}</div>
  </div>
</div>
