---
layout: default
fullwidth: true
examples:
  - id: animation
    name: Animation
  - id: geocoding
    name: Geocoding
  - id: handlers
    name: Handlers
  - id: layers
    name: Layers
  - id: leaflet
    name: Leaflet
  - id: legend
    name: Legend
  - id: markers
    name: Markers
  - id: plugins
    name: Plugins
  - id: tooltips
    name: Tooltips
  - id: ui
    name: User Interface
  - id: vector
    name: Vector Overlays
  - id: zoom
    name: Zoom
head: |
  <style>
  div.footer,
  div.footer-copyright { display:none; }
  </style>
---
<link href='{{site.baseurl}}/assets/css/site.css' rel='stylesheet' />
<script src='{{site.baseurl}}/assets/js/prettify.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>

{% capture api %}
{% if page.v0 %}v0.6.7{% else %}{{site.mapboxjs}}{% endif %}
{% endcapture %}

{% capture examples %}
{% if page.v0 %}v0.6.7{% else %}v1.0.0{% endif %}
{% endcapture %}

<div class='contain'>
  {% include site.masthead.html %}

  <!--Mobile menu-->
  <div id='dropdown' class='show-mobile drop fill-green clearfix'>
    <div class='pin-right pad4x pad2y'>
      <a href='#dropdown' class='fr icon menu quiet pad1 keyline-all'></a>
    </div>
    <div class='dropdown keyline-all round'>
      <a href='#' class='closedrop icon menu quiet pad1 keyline-all fill-darken0'></a>
      <div class='contents contain'>
        <a href='{{site.baseurl}}/api/' class='strong quiet col12 pad1y pad4x truncate  {% if page.categories contains "api" %}fill-darken0 active{% endif %}'>API</a>
        {% if page.categories contains 'api' %}
        {% include api.nav.html %}
        {% endif %}
        <a href='{{site.baseurl}}/examples/' class='keyline-top keyline-bottom strong quiet col12 pad1y pad4x truncate {% if page.url contains "example" %}fill-darken0 active{% endif %}'>Examples</a>
        {% if page.url contains 'example' %}
          <nav class='navigation pad1y full-y keyline-bottom scroll-y v js-nav-docs quiet-scroll'>
            {% for example in page.examples %}
            <div class='section space-bottom1'>
              <strong class='col12 sub'>{{example.name}}</strong>
              {% for listing in site.tags[example.id] order:ascending %}
                {% if listing.version == 'v1.0.0' %}
                  <a href='{{site.baseurl}}{{listing.url}}' class='sub col12 example truncate {% if listing.title == page.title %} active{% endif %}'>{{listing.title}}</a>
                {% endif %}
              {% endfor %}
            </div>
            {% endfor %}
          </div>
        {% endif %}
        <a href='{{site.baseurl}}/plugins/' class='quiet col12 pad1y pad4x strong truncate {% if page.url contains "plugins" %}fill-darken0 active{% endif %}'>Plugins</a>
      </div>
    </div>
  </div>
</div>

<!--Fixed sidebar navigation-->
<div class='hide-mobile col3 docs-sidebar round fill-light clip'>
  <div class='row1 contain col12'>
    <nav class='site-nav fill-darken0 fl small strong col12 clearfix center'>
      <a href='{{site.baseurl}}/api' class='col4 pad1 truncate quiet {% if page.categories contains "api" %}active{% endif %}'>API</a>
      <a href='{{site.baseurl}}/examples' class='col4 pad1 truncate keyline-left quiet {% if page.url contains "example" %}active{% endif %}'>Examples</a>
      <a href='{{site.baseurl}}/plugins' class='col4 pad1 truncate keyline-left quiet {% if page.url contains "plugins" %}active{% endif %}'>Plugins</a>
    </nav>
  </div>

  <div class='col12 clip full-y'>
    {% if page.categories contains 'api' %}
    <div id='api-menu' class='col12 animate full-y'>
      <div class='pad2 row2'>
        <fieldset class='with-icon'>
          <a href='{{site.baseurl}}/api/{{page.version}}/all' class='pin-right pad1 pad2x round-right small view-all fill-white strong'>View all?</a>
          <span class='icon search'></span>
          <input id='filter-api' type='text' class='round col12' placeholder='Filter documentation'>
        </fieldset>
      </div>
      {% include api.nav.html %}
    </div>
    {% endif %}

    {% if page.url contains 'example' %}
    <div id='examples-menu' class='col12 animate full-y'>
      <div class='pad2 row2'>
        <fieldset class='with-icon'>
          <span class='icon search'></span>
          <input id='filter-examples' type='text' class='round col12' placeholder='Filter examples'>
        </fieldset>
      </div>

      <nav id='examples-list' class='keyline-top pad1y navigation v fill-light full-y js-nav-examples quiet-scroll scroll-y col12 animate'>
        {% for example in page.examples %}
        <div class='section space-bottom1'>
          <strong class='col12 sub'>{{example.name}}</strong>
          {% for listing in site.tags[example.id] order:ascending %}
            {% if listing.version == 'v1.0.0' %}
              <a href='{{site.baseurl}}{{listing.url}}' class='sub col12 example truncate {% if listing.title == page.title %} active{% endif %}'>{{listing.title}}</a>
            {% endif %}
          {% endfor %}
        </div>
        {% endfor %}
      </nav>
    </div>
    {% endif %}

    {% if page.url contains 'plugins' %}
    <div id='plugins-menu' class='col12 animate full-y'>
      <div class='pad2 keyline-bottom prose'>
        <strong>Mapbox.js Plugins</strong>
        <p class='quiet'>
          Plugins extend Mapbox.js with layers, interactions,
          and stuff that make maps awesome.
        </p>
      </div>
      <nav class='navigation col12 v full-y scroll-y quiet-scroll pad1y'>
        {% for plugin in site.categories.plugin %}
          <a href='{{site.baseurl}}/plugins/#{{plugin.prefix}}' class='sub'>{{plugin.title}}</a>
        {% endfor %}
      </nav>
    </div>
    {% endif %}
  </div>
</div>

<!--Content area-->
<div id='content-section' class='limiter clearfix'>
  <div class='col9 margin3'>
    {{content}}
  </div>
</div>
