---
layout: default
class: fill-light
fullwidth: true
examples:
  - id: animation
    name: Animation
  - id: geocoding
    name: Geocoding
  - id: handlers
    name: Handlers
  - id: layers
    name: Layers
  - id: leaflet
    name: Leaflet
  - id: legend
    name: Legend
  - id: markers
    name: Markers
  - id: plugins
    name: Plugins
  - id: tooltips
    name: Tooltips
  - id: ui
    name: User Interface
  - id: vector
    name: Vector Overlays
  - id: zoom
    name: Zoom
head: |
  <style>
  .masthead {
    z-index:1;
    position:fixed; top:0px; left:0px; right:0px;
    height:60px;
  }
  #nav {
    padding-top:10px;
    padding-bottom:10px;
  }
  .masthead nav .mb-logo {
    top:10px;
  }
  .docnav { position:fixed; top:60px; bottom:0px; width:100%; }
  .docnav .limiter { height:100%; }
  .docnav .col3 { height:100%; }
  .docnav nav {
    position:absolute;
    left:0px; top:20px; right:20px; bottom:20px;
  }
  body { padding-top:60px; }
  .footer.fill-white {
    padding:20px 0px;
    border:0px;
    background:transparent;
  }
  .footer .limiter > .newsletter { display:none; }
  .footer .limiter > .mobile-cols {
    margin-left:25%;
    width:75%;
    padding:20px 40px;
    border-radius:3px;
    background:rgba(0,0,0,0.05);
    position:relative;
    z-index:1;
  }
  /* @TODO */
  .footer-copyright { display:none; }
  </style>
---

<link href='{{site.baseurl}}/assets/css/site.css' rel='stylesheet' />
<script src='{{site.baseurl}}/assets/js/prettify.js'></script>
<script src='{{site.baseurl}}/assets/js/site.js'></script>

{% capture api %}
{% if page.v0 %}v0.6.7{% else %}{{site.mapboxjs}}{% endif %}
{% endcapture %}

{% capture examples %}
{% if page.v0 %}v0.6.7{% else %}v1.0.0{% endif %}
{% endcapture %}

<!--Fixed sidebar navigation-->
<div class='docnav hide-mobile'>
  <div class='limiter'><div class='col3 contain'>
    <nav class='scroll-styled quiet-scroll'>

      {% if page.categories contains 'api' %}
      {% include api.nav.html %}
      {% endif %}

      {% if page.url contains 'example' %}
      <div class='space-bottom'>
        <a class='block quiet strong small truncate' href='{{site.baseurl}}/examples/'>Examples</a>
      </div>
      {% for example in page.examples %}
      <div class='space-bottom'>
        <strong class='block quiet small'>{{example.name}}</strong>
        {% for listing in site.tags[example.id] order:ascending %}
          {% if listing.version == 'v1.0.0' %}
          <a href='{{site.baseurl}}{{listing.url}}' class='block small truncate {% if listing.title == page.title %} active{% endif %}'>{{listing.title}}</a>
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
      {% endif %}

      {% if page.url contains 'plugins' %}
      <div class='space-bottom'>
        <a class='block quiet strong small truncate' href='{{site.baseurl}}/plugins/'>Plugins</a>
      </div>
      <div class='space-bottom'>
        {% for plugin in site.categories.plugin %}
        <a href='{{site.baseurl}}/plugins/#{{plugin.prefix}}' class='block small truncate'>{{plugin.title}}</a>
        {% endfor %}
      </div>
      {% endif %}

    </nav>
  </div></div>
</div>

<div class='limiter clearfix'>
  <div class='contain margin3 col9 fill-green space-bottom round-bottom pad1 dark small mobile-cols'>
    <div class='col8 fill-darken0 round'>
      <strong class='col3 pad1y center icon brackets clip'>Mapbox.js</strong><!--
      --><span class='col9 tabs mobile-cols fill-green'><!--
        --><a href='{{site.baseurl}}/api' class='col4 {% if page.categories contains "api" %}active{% endif %}'>API</a><!--
        --><a href='{{site.baseurl}}/examples' class='col4 {% if page.url contains "example" %}active{% endif %}'>Examples</a><!--
        --><a href='{{site.baseurl}}/plugins' class='col4 {% if page.url contains "plugins" %}active{% endif %}'>Plugins</a>
      </span>
    </div>
    <fieldset class='margin1 col3 with-icon'>
      <span class='icon search'></span>
      <input type='text' class='col12' />
    </fieldset>
  </div>
  <div class='contain margin3 col9'>
  {{content}}
  </div>
</div>

